.login{
    background: url('../img/login/login_bg.jpg');
    background-size:100% 100%;
    position: relative;
}
.d_login{
    position: absolute;
    right: 7%;
    top: 20%;
    background: #f9f9f9;
    opacity: .9;
    width: 350px;
    padding: 0 30px;
    padding-bottom: 30px;
}
.d_con>p{
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
}
.navbar{
    padding: 0;
}
.d_login input{
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}
.l_forget{
    text-align: right;
    color: #F56C6C;
    font-size: 12px;
    display: block;
}
.d_btn{
    background: #89bceb;
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    margin-top: 20px;
}
.d_btn:hover{
    background: #62a8ea;
    color: #fff;
}
.d_reg{
    border: 1px solid #89bceb;
    color: #89bceb;
    background: #fff;
    
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    .d_login {
        right: 3.5%;
	 }
}