<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">海 参</h3>
			<div class="about-top">
				<h3 class="subheading">Sea Cucumber</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">海参</strong>，高蛋白，低脂肪，低糖且富含各种人体必需的氨基酸、维生素、必需脂肪酸以及常量和微量元素。
					海参体内含有18种氨基酸，其中甘氨酸、精氨酸和谷氨酸含量远远高于其它氨基酸。海参体内含有VA、VB1、VB2、VB6、VD、VE和VK7种维生素。
					海参必需脂肪酸种类齐全，如亚油酸、亚麻酸、EPA、DHA等。必需脂肪酸对于增强人体免疫以及人脑的机能具有重要作用。另外，海参体内还富含人体必需的常量和微量元素，其中微量元素中铁、锌含量明显高于其它元素。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/seacucumber/haishen.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海参</strong>的形态多为圆筒状，但粗细、形状和大小随种类不同存在差异。海参在各类山珍海味中位尊“八珍”，还具多种中医特指的补益养生功能。
					<br><br> <strong style="font-size: 18px;">海参</strong>分布世界各海，种类最多的是印度—西太平洋区，尤其是食用海参，大多分布在热带珊瑚礁内。我国北方只有一种食用海参，即刺参，而海南岛和西沙群岛却产有十几种食用海参。食用海参大多生活于潮间带或浅海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">《本草纲目拾遗》</strong>记载，“海参性温补，足敌人参，故名海参；味甘咸，补肾经，益精髓，消痰延，摄小便，壮阳疗痿，杀疮虫。”现代药理研究表明，海参具有抗肿瘤、调节免疫力、抗氧化等多种药理作用。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/seacucumber/haishen2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清汤海参</h5>
                            <span class="enlis">Sea cucumber soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：水发海参250克
                                <br>
                                辅料：水发玉兰片25克，水发冬菇25克，香菜（用叶）25克，熟猪油25克，料酒15克，味精3克，盐4克，香油10克，胡椒粉2克，鲜汤适量。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将发好的海参洗净，顺长向切成抹刀片，大的片成3片，小的片成2片；玉兰片洗净，切成片；冬菇洗净，去蒂，破开；香菜洗净，清毒；<br>
                                2．锅内加水，浇沸后下入海参片、玉兰片和冬菇片焯烫一下捞出，控净水，盛在汤碗内；<br>
                                3．将锅架在火上，放入熟猪油烧至六七成热，加鲜汤、料酒、味精、盐，汤烧开后调好口味，撇去浮沫；将少许沸汤冲在大汤碗内，烫一下海参片，然后把汤滗回锅内，烧开后再将锅内汤盛于汤碗内，撒上胡椒粉，淋入香油，放上洗净的香菜叶即成。
                                    
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/seacucumber/haishen3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧海参</h5>
                            <span class="enlis">Braised sea cucumber</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海参200g
								<br>
								辅料：竹笋20g，胡萝卜20g，姜片5g，葱1根，高汤，盐1g，鸡粉2g，糖2g，蚝油15g，老抽，胡椒粉少许，太白粉水，香油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．海参洗净后切大块；
								<br>
								2．葱切段；笋、胡萝卜切小片
								<br>
								3．海参、葱、笋、胡萝卜片全部一起入滚水中汆烫后，取出沖凉沥干备用。；
								<br>
								4．取热锅加入沙拉油，先以小火爆炒葱、姜、海参、笋片、胡萝卜片后，加入调味料
								<br>
								5. 待
								锅煮滚后再煮约30秒，以太白粉水勾芡后，淋上香油拌匀即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/seacucumber/haishen4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>海参炒三丝</h5>
                            <span class="enlis">Fried Sea Cucumber</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海参  
									<br>
									辅料：笋 、 猪里脊肉	　、高汤  、生抽 、 老抽  
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将海参、笋和里脊切丝，把里脊丝用淀粉和料酒抓匀备用
									<br>
									2．把海参丝放入沸水中焯一下，捞出备用 
									<br>
									3．上火做锅，倒入食用油，烧到三四成热，放入肉丝，肉丝变为白色捞出备用
									<br>
									4．锅中留少许底油，放葱花爆香，然后倒入海参，笋丝和肉丝翻炒几下
									<br>
									5．倒入高汤（不要没过菜即可），放盐，白糖（少许，主要是为了提味），生抽和老抽，烧开后改小火，烧制五分钟
									<br>
									6．下水淀粉勾芡收汁，出锅。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/seacucumber/haishen5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>海参小米粥</h5>
                            <span class="enlis">Sea cucumber porridge</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小米50g，海参100g
									<br>
									辅料：鸡汤250毫升，盐3g
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．活海参焯水后开肠去杂冲净，上锅蒸40 分钟至软烂，切条待用；
									<br>
									2．小米洗净，用鸡汤煲成粥；
									<br>
									3． 将小米粥与海参倒入炖盅，放盐再炖15分钟即成。
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/seacucumber/haishen6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>葱爆海参</h5>
                            <span class="enlis">Scallion sea cucumber</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：水发海参1000克。
									<br>
									辅料：精盐2克，大葱105克，味精3.5克，青蒜15克，湿淀粉10克，姜末5克，鸡汤700克、姜汁27.5克，糊葱油50克，白糖27.5克，熟猪油150克（约耗75克），酱油12.5克，绍酒15克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将水发嫩小海参洗净，整个放入凉水锅中，用旺火烧开，约煮5分钟捞出，沥净水，再用300克鸡汤煮软并使其进味后沥净鸡汤。把大葱分别切成长5厘米的段（100克）和末（5克）。青蒜切成长3.3厘米的段。
									<br>
									2．将炒锅置于旺火上，倒入熟猪油，烧到八成热时下入葱段，炸成金黄色时炒锅端离火中，葱段端在碗中，加入鸡汤100克、绍酒5克、姜汁2.5克、酱油2.5克、白糖2.5克和味精1克，上屉用旺火蒸1至2分钟取出，滗去汤汁，留下葱段备用。
									<br>
									3．猪油加炸好的葱段 、海参、精盐、清汤、白糖、料酒、酱油、糖色、烧开后移至微火煨两到三分钟，上旺火加味精用淀粉勾芡，用中火烧透收汁，淋入葱油，盛入盘中即可。
								
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/seacucumber/haishen7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
