<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">东 方 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Fenneropenaeus chinensis</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">东方虾</strong>
					即指中国对虾，用此虾做的油焖大虾乃经典名吃之最，壳薄虾肉香酥绵软，回味绵延。东方对虾营养丰富，且其肉质松软，易消化，对身体虚弱以及病后需要调养的人是极好的食物;体内含有丰富的镁，
					镁对心脏活动具有重要的调节作用，能很好的保护心血管系统，它可减少血液中胆固醇含量，防止动脉硬化，同时还能扩张冠状动脉，有利于预防高血压及心肌梗死。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/dongfangxia.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">东方虾</strong>，旧称中国对虾。体形长大，侧扁，甲壳较薄，表面光滑。 一般在30克-50克。对虾全身由20节组成，头部5节、胸部8节、腹部7节。
					<br><br> <strong style="font-size: 18px;">东方虾 </strong>属广温、广盐性、一年生暖水性大型洄游虾类。主要来源渤海湾的捕捞船只。广东湛江为我国对虾产量全国第一的城市。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海水虾</strong>
					性湿、味甘咸，入肾、脾经；
                    虾肉有补肾壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；
                    适宜于肾虚阳痿、遗精早泄、乳汁不通、筋骨疼痛、手足抽搐、全身搔痒、皮肤溃疡、身体虚弱和神经衰弱等病人食用。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/dongfangxia2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>砂锅对虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：对虾
                                <br>
                                辅料：青椒、红椒、粉丝、菠萝丁、绍酒、白糖、味精、熟猪油
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．砂锅上旺火，用油滑锅，将虾下锅稍煎，烹入绍酒和姜汁<br>
                                2．加盖稍焖，加糖、鲜汤，加盖焖。 至八成熟，放入粉丝，味精<br>
                                3．烧沸后，倒入大砂锅内，放在微火上煨 5分钟，再移入中火烧约二三分钟<br>
                                4. 撇去浮沫，加青、红椒丝、味精，淋入熟猪油，即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/dongfangxia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱爆对虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜对虾
								<br>
								辅料：醋，生抽，糖，蒜蓉辣酱，沙茶酱，麻油，生姜，淀粉，葱
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．对虾洗净沥干水，加入干淀粉拌匀。
								<br>
								2．取一小碗，加入生抽、醋、沙茶酱、糖、蒜蓉辣酱、淀粉、麻油、清水调成汁。
								<br>
								3．锅内放油烧至六分熟，将对虾一只只放入油中炸成金黄色取出。<br>
								4. 锅内留底油，下生姜葱末爆香，倒入调好的汁，再倒入对虾翻炒均匀即可出锅。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/dongfangxia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>干煎对虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：大对虾450克
									<br>
									辅料：精盐7克，鸡蛋适量，面粉少许，胡椒粉依据口味添加，料酒20克， 油200克
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．大虾剪去虾须，留头和尾部，剥去虾皮，挑除沙线，冲洗干净；将鸡蛋打散，取出适量面粉备用。
									<br>
									2．然后将处理干净的虾从背部片开，使腹部相连，斩断筋，轻轻拍平，平铺在盘中，加盐，胡椒粉，料酒腌渍入味。
									<br>
									3．将大虾沾匀干面粉，挂匀蛋液，下油锅煎至两面金黄，出锅装盘，撒上椒盐即可食用。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/dongfangxia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸对虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：对虾300克
									<br>
									辅料：料酒15克 酱油25克 味精2克 盐4克 大葱10克 姜6克 香油10克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将对虾剪去须、脚，挑出虾头内的沙包和脊背上的沙肠，洗净后在案板上；	
									<br>
									2．大的切为4段(即头，尾各一段，中间切为两段)，小的切为3段；<br>
									3. 葱去皮，叶，洗净，切成段；<br>
                                    4. 姜刮皮，拍松，一半切成片，一半切成末；<br>
                                    5. 取琬一个，放入酱油、醋、姜末、味精、香油，调成味汁；<br>
                                    6. 将虾按原形装摆放在盘中，加入料酒、盐、味精、葱段姜片和少量鲜汤；<br>
                                    7. 上屉用旺火、沸水、足气蒸10分钟左右取出，拣去葱姜；<br>
                                    8. 上桌时蘸味汁。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/dongfangxia6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>油焖对虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜对虾750g。
									<br>
									辅料：料酒15g，精盐2g，白糖10g，猪大油60g，花椒油10g，青蒜段25g，姜丝3g, 姜汁5g，高汤75g。

									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．切配。将大虾洗净，从眼部剪去头须，剪去腿、爪及尾，取出沙包、沙线，每只大虾切成两段；
									<br>
									2．烹调。炒勺置中火上，放入猪大油、花椒油烧热, 加入姜丝和大虾， 煸炒数下，然后用手勺轻按虾头，挤出虾脑，再 放入料 酒、高汤、姜汁、白糖、精 盐、味精继续煸炒几下，盖上盖，把勺移至微火上焖制；
									<br>
									3．待虾肉焖至将要熟透，汁浓、色红时，将炒勺移至旺火上收汁，放入青蒜段，颠翻几下即可出勺装盘。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/dongfangxia7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
