<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">基 围 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Metapenaeusensis</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">基围虾</strong> 营养丰富,其肉质松软,易消化,对身体虚弱以及病后需要调养的人是极好的食物;
					虾中含有丰富的镁,能很好的保护心血管系统,它可减少血液中胆固醇含量,防止动脉硬化,同时还能扩张冠状动脉,有利于预防高血压及心肌梗死;虾肉还有补肾壮阳,通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/jiweixia2.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">基围虾</strong>，学名刀额新对虾，俗称沙虾、泥虾。体色土黄到棕褐色，游泳足棕色或赤色。
					<br><br> <strong style="font-size: 18px;">基围虾</strong> 是近岸浅海虾类，常栖息于沙泥质或泥沙质底海区。该虾对环境适应能力强，喜潜伏于底质中。在我国主要分布于福建、台湾、广东和广西沿海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">基围虾</strong>
					性温湿、味甘咸，入肾、脾经；
                    虾肉有补肾壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/jiweixia.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>干锅基围虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：基围虾20只
                                <br>
                                辅料：豆瓣酱30克、花椒30粒、干辣椒1~2个、八角1个、大葱一棵、生姜4片、酱油20ml、料酒10ml、香菜3~5棵
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将基围虾的背部节与节相连的中间处，用牙签将基围虾线挑出来；<br>
                                2．再用剪刀将基围虾须剪去，然后洗干净；将洗好的基围虾放入盆中倒入1勺料酒拌匀；<br>
                                3．将葱切段、辣椒剪成块；<br>
                                4. 炒锅烧热放入色拉油（平时炒菜的量）烧热；<br>
                                5. 放入基围虾大火不停的煸炒，基围虾全部变成红色，并稍微炒干一些，盛出；<br>
                                6. 在锅中再放入一些油（平时炒菜的量），马上放入放八角、花椒、辣椒，小火将调料炸变色后捞出不用；<br>
                                7. 将豆瓣酱和葱姜放入小火炒出红油；<br>
                                8. 将基围虾放入炒匀，然后放半碗水，大火将汤汁完全收干吼撒香菜炒匀即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/jiweixia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>椒盐基围虾</h5>
                            <span class="enlis">Pretzels Shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：：基围虾(500克)
								<br>
								辅料：淀粉(35克)、椒盐(15克)、 花生油(75克)
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将虾洗净，捞起沥干水待用；
								<br>
								2．炒锅烧热，下油烧至六七成热时，将干淀粉撒在虾上，然后放入锅中，炸至色红壳脆捞起沥油；
								<br>
								3． 炒锅倒去油，接着将虾倒入锅中，撒上椒盐，颠翻几下，即出锅装盆。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/jiweixia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>油焖基围虾</h5>
                            <span class="enlis">Oil Shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：基围虾500g
									<br>
									辅料：盐、糖、葱、姜、大蒜、料酒、火腿汁、香油、花生油适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲜虾剪去虾须，用清水冲洗后浸泡一会沥干，加入盐和料酒搅匀放置15分钟
									<br>
									2．姜、葱和蒜切片
									<br>
									3．锅上火加油烧至五成热，放入姜、葱和蒜爆香，放入料酒、糖、盐
									<br>
									4. 放入洗净的基围虾翻炒，翻炒均匀入味，加入火腿汁继续翻炒<br>
									5. 加入少许的水小火焖5分钟<br>
									6. 稍浓即可，加入香油，一定要多留点汁，虾可以沾着汁吃
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/jiweixia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白灼基围虾</h5>
                            <span class="enlis">Boiled shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜活基围虾
									<br>
									辅料：油茶叶水 、柠檬 、蒸鱼豉油 、生抽 、葱 、姜、 鲜红椒 、野山椒 、黄酒
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将鲜活的基围虾用清水洗净，放入盘中。
									<br>
									2．姜和葱分别切细丝，红椒切成红椒圈，野山椒切成小粒，备用。另外再切一些大姜片和大葱肚。
									<br>
									3．先将一锅水烧开，待其晾凉后，再烧开，此时再灼虾，这样灼出来的虾能更好地保持住虾肉的鲜度。
									<br>
									4．锅中水开后，放入大姜片和大葱肚，烹一些黄酒进去，待水再开后，捞出葱姜肚，倒入基围虾。
									<br>
									5．用笊篱稍微搅拌，约三、四分钟后，见基围虾虾壳变红，肉质将熟之时捞出，沥干水分。
									<br>
									6．调配蘸汁：葱丝和姜丝放入一个大碗中，炒锅烧热，倒入色拉油，油温6成热时倒入红教圈和野山椒粒爆香即可装入放有葱姜丝的碗中。
									<br>
									7．锅中烧热油，油稍微多一点，油温8成热时，关火，将热油刺在葱姜丝上，然后将蒸鱼豉油倒入锅中，在家一点点生抽，二者比例为四比一。<br>
									8. 将豉油汁倒入刺好油的葱姜丝红椒圈碗中，一碗蘸汁就搞定了。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/jiweixia6.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
