<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">小 龙 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Palinuridae</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">小龙虾</strong>都是高蛋白、低脂肪的，蛋白含量占总体的16%～20%左右，
					脂肪含量不到0.2%。而且所含的脂肪主要是由不饱合脂肪酸组成的。虾肉内锌、碘、硒等微量元素的含量要高于其它食品。 龙虾不仅是肉洁白细嫩，味道鲜美，高蛋白，低脂肪，营养丰富。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/longxia.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">小龙虾</strong>，也称克氏原螯虾、红螯虾和淡水小龙虾。整体颜色包括红色、红棕色、粉红色。背部是酱暗红色，两侧是粉红色，带有橘黄色或白色的斑点。
					<br><br> <strong style="font-size: 18px;">小龙虾 </strong>，通常栖息于永久性溪流和沼泽，临时的栖息地，包括沟渠和池塘。生活在水体较浅、水草丰盛的湿地、湖泊和河沟内。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">小龙虾</strong>
					中镁的含量很高，食用龙虾有保护心血管系统的功效，不仅能降低血液中胆固醇的含量，预防动脉硬化的发生，而且能扩张冠状动脉，对预防高血压及心肌梗死也非常有效。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/longxia2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>十三香龙虾(盱眙龙虾)</h5>
                            <span class="enlis">Thirteen Fragrant Lobster</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小龙虾 200g
                                <br>
                                辅料：五香粉 50g、
                                香菜 20g、
                                蒜蓉 50g、
                                葱丝 10g、
                                姜丝 10g、
                                料酒 20g、
                                油 10g、
                                生抽 20g、
                                盐 10g、
                                鸡精 5g
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．小龙虾用清水洗净，香菜切段。<br>
                                2．锅中倒油，放入葱丝、姜丝、爆香后放入小龙虾。<br>
                                3．倒入五香粉、料酒，翻炒均匀后加入水，放盐、鸡精、生抽，大火收汁后，出锅撒上香菜即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/longxia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>蒜泥龙虾</h5>
                            <span class="enlis">Garlic Lobster</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：龙虾3斤
								<br>
								辅料：大蒜、味精、	糖、	盐、	啤酒1听、食用油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．把蒜切泥状，或者用绞肉机搅碎。尽量切碎
								<br>
								2．锅内预热倒入大半碗食用油，倒入蒜泥熬制1分钟左右。
								<br>
								3．加入3分之一蒜泥那么多的糖。加适量盐，加少许醋提鲜
								<br>
								4．倒入龙虾。倒入一听雪花啤酒。加少许水。大火烧制。等虾味出来，大约10分钟左右即可。加入鸡精即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/longxia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>麻辣小龙虾</h5>
                            <span class="enlis">Spicy Lobster</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小龙虾200克
									<br>
									辅料：干辣椒20克、花椒20克、葱2根、姜4片、香叶4片、大蒜5瓣、八角1个、桂皮1根、生抽45ml、老抽15ml、红糖8克、盐5克、高度白酒30ml。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将小龙虾洗净，葱姜蒜切碎，辣椒剪块。
									<br>
									2．锅中加入比平时炒菜稍多的油，烧到3成热，放入辣椒、花椒、葱、姜、蒜煸出香味。
									<br>
									3．放入洗净的小龙虾翻炒均匀，然后淋入白酒、生抽、老抽，加入白糖炒出香味。
									<br>
									4. 看到小龙虾卷曲后，放入香叶、八角、桂皮等香料，淋入200ml的清水，加盖用中火焖8分钟，最后加入适量盐调味，火力调大将汤汁稍微收干即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/longxia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>冰镇小龙虾</h5>
                            <span class="enlis">Spicy Lobster</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜活龙虾 2斤
									<br>
									辅料：油 一勺、
                                    花椒 一大把、
                                    白胡椒粒 一小把、
                                    香叶 一片、
                                    五香粉 一勺、
                                    生姜 适量、
                                    黄酒 一碗、
                                    白酒 半碗、
                                    鲜酱油 3勺、
                                    糖 两小勺、
                                    盐 少许、
                                    水 适量、
                                    冰块 适量、
                                    （豆蔻）、
                                    （紫苏）
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲜活龙虾洗净待用，多用刷子刷刷，有条件可以在放了盐和白醋的清水里养个把小时去除土腥味。
									<br>
									2．油热后小火煎一下花椒、生姜、五香粉、香叶，爆出香味后，倒入可以漫过龙虾的清水。
									<br>
									3．水中放入白胡椒粒、黄酒、鲜酱油、糖、盐、白酒。水开后尝尝味道，盐的量比平常烧菜要多，要感觉到明显的咸味、白酒香味和淡淡的香料味。
									<br>
									4．卤汁大火烧开后，小火略熬一下，开大火水开后放入龙虾。
									<br>
									5．盖上盖子大火煮15分钟后熄火，这时候的虾还不够入味。
									<br>
									6．烧好后立马拿出来放入冰块里，这样龙虾才能鲜嫩弹牙。而冰镇后的龙虾也应该继续放在冰镇的卤汁里继续浸泡并冷藏几个小时（以8个小时为参考），不然不可能入味。
									<br>
									7．冰块卤汁64开来浸泡龙虾，而且要多放两片香叶在冰卤汁里，还会加豆蔻、紫苏和冰糖增加香味。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/longxia6.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
