<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">南美白对虾</h3>
			<div class="about-top">
				<h3 class="subheading">Penaeus vannamei</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">南美白对虾</strong>
					营养丰富、口味鲜美、可烹制多种佳肴及制作多种休闲、风味食品，含有丰富的蛋白质，同时含有丰富的钙、镁、磷、钾、碘等微量元素和维生素A、甲壳素等有益人体健康的功能成分，
					是促进人类健康长寿的优质高效食品，具有美容养颜和益气滋阴等功效。虾中富含牛磺酸，能降低人体的血清胆固醇，所以对预防代谢综合症具有一定的食疗作用，虾中富含微量元素锌，
					可以改善人体因缺锌所引起的生长障碍、味觉障碍、皮肤不适以及精子畸形等病症。因此，南美白对虾是一种难得的食源性保健佳品。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/nanmeibaiduixia.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">南美白对虾</strong>，俗称白肢虾或白对虾。甲壳较薄，正常体色为浅青灰色，全身不具斑纹。南美白对虾是三大养殖对虾中单产量最高的虾种。
					<br><br> <strong style="font-size: 18px;">南美白对虾 </strong>主要分布在美国西部太平洋沿岸热带水域，从墨西哥湾至秘鲁中部都有分布，以厄瓜多尔附近的海域更为集中。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海水虾</strong>
					性湿、味甘咸，入肾、脾经；
                    虾肉有补肾壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；
                    适宜于肾虚阳痿、遗精早泄、乳汁不通、筋骨疼痛、手足抽搐、全身搔痒、皮肤溃疡、身体虚弱和神经衰弱等病人食用。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/nanmeibaiduixia2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>油焖对虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜对虾750g。
                                <br>
                                辅料：料酒15g，精盐2g，白糖10g，猪大油60g，花椒油10g，青蒜段25g，姜丝3g, 姜汁5g，高汤75g。
                                
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．切配。将大虾洗净，从眼部剪去头须，剪去腿、爪及尾，取出沙包、沙线，每只大虾切成两段；
                                <br>
                                2．烹调。炒勺置中火上，放入猪大油、花椒油烧热, 加入姜丝和大虾， 煸炒数下，然后用手勺轻按虾头，挤出虾脑，再 放入料 酒、高汤、姜汁、白糖、精 盐、味精继续煸炒几下，盖上盖，把勺移至微火上焖制；
                                <br>
                                3．待虾肉焖至将要熟透，汁浓、色红时，将炒勺移至旺火上收汁，放入青蒜段，颠翻几下即可出勺装盘。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/nanmeibaiduixia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎南美虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：南美对虾
								<br>
								辅料：参巴酱	、
                                米酒
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．对虾处理干净，用橄榄油煎至两面发白，撒盐和白胡椒
								<br>
								2．倒入适量米酒去腥，三巴酱调水稀释，加入锅内，加糖，翻面，焖至全熟（约五分钟）即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/nanmeibaiduixia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>辣炒南美虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：南美对虾200克
									<br>
									辅料：姜片少许、
                                    鸡粉少许、
                                    料酒适量、
                                    辣椒适量、
                                    酱油适量、
                                    牛肉酱50克、
                                    油适量
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．姜切片，辣椒切段备用。
									<br>
									2．对虾洗净，剪掉胡须放盘备用。<br>
									3. 锅中放油，放辣椒姜片炒香，放入对虾翻炒加入牛肉酱炒匀加料酒酱油，快熟放鸡粉，即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/nanmeibaiduixia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香辣虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：对虾300克
									<br>
									辅料：洋葱1个，尖椒3个，青蒜、干辣椒、辣豆瓣酱、盐、红油、蚝油各适量

									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．对虾用水焯过待用。洋葱、尖 椒、青蒜洗净，切段待用。
									<br>
									2．起油锅，爆香干辣椒和辣豆瓣酱。
									<br>
									3．将对虾下锅煸炒至香。加入洋葱、尖椒、青蒜炒至断青。	
									<br>
									4．加盐、生抽、蚝油调味，再淋入红油炒匀就行了。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/nanmeibaiduixia6.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
