<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">皮 皮 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Oratosquilla oratoria</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">皮皮虾</strong>是一种非常珍贵的海产品，其肉质不仅水分较多，而且香甜嫩滑，有一种独特诱人的鲜味，在每年的春季是皮皮虾产卵的季节，同时也是食用皮皮虾最佳的食用时间，因为这个时候的皮皮虾脑部全部都是膏脂，肉质非常的鲜嫩。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/pipixia2.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">皮皮虾</strong>，学名口虾蛄，又名琵琶虾、虾耙子、虾公驼子、瀨尿虾、螳螂虾、虾蛄。虾蛄性情凶猛，视力十分锐利。
					<br><br> <strong style="font-size: 18px;">皮皮虾 </strong>全为海生。其分布范围极广，从俄罗斯的大彼得海湾到日本及中国沿海、菲律宾、马来半岛、夏威夷群岛均有分布。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海水虾</strong>
					性湿、味甘咸，入肾、脾经；
                    虾肉有补肾壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；
                    适宜于肾虚阳痿、遗精早泄、乳汁不通、筋骨疼痛、手足抽搐、全身搔痒、皮肤溃疡、身体虚弱和神经衰弱等病人食用。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/pipixia.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>爆炒皮皮虾</h5>
                            <span class="enlis">Stir-fried shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：皮皮虾
                                <br>
                                辅料：葱、
                                姜、
                                蒜、
                                干辣椒、
                                料酒、
                                花椒粒、
                                酱油、
                                花生油
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．皮皮虾洗净、用热水焯熟<br>
                                2．在锅中倒入油，油热后放葱、姜、蒜、花椒和干辣椒爆锅。<br>
                                3．接着，放入皮皮虾翻炒，再放入盐、料酒和酱油爆炒。<br>
                                4. 放入锅中盖锅盖小火焖一会即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/pipixia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸皮皮虾</h5>
                            <span class="enlis">Steamed shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：皮皮虾两斤
								<br>
								辅料：青椒、料酒、醋、香油、白糖、盐、花椒、姜末、葱末、酱油、醋、香油、蒜末、精盐
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．皮皮虾洗净放入容器,加入盐,白糖,料酒腌制10分钟左右,备用;青椒洗净切丝备用;另取一个小碗,倒入醋,加入姜末,葱末,香油备用。
								<br>
								2．把虾码平在盘子里,放入蒸锅,大火蒸15分钟左右,取出,把切好的青椒丝放在虾身上。
								<br>
								3．起锅放入适量的油,烧热,放入花椒爆香,关火,浇在虾身上,即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/pipixia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>姜汁皮皮虾</h5>
                            <span class="enlis">Ginger Shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：皮皮虾500克
									<br>
									辅料：姜50克 醋5克 盐6克 味精2克 香油10克
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．皮皮虾洗净、煮熟，剪去头尾，去掉背壳，腹部带肉摆放入盘；
									<br>
									2．姜末、盐、味精、香油调匀，倒在虾上即成。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/pipixia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>椒盐皮皮虾</h5>
                            <span class="enlis">Pretzels shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：皮皮虾两斤
									<br>
									辅料：青红椒若干、生粉、色拉油、椒盐、青葱

									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．先要把活虾清洗干净，然后放入热水中氽一下(要入锅即出)，在虾身上撒上少量生粉。
									<br>
									2．另起锅，加入适量色拉油，当油达到八成热的时候，把皮皮虾入锅，等到皮皮虾呈现外脆内嫩的状态，表皮呈红白色，便可起锅。
									<br>
									3．把青红椒切成粒，下锅煸炒几下，然后把炸好的虾再入锅中，同时撒上适量椒盐，翻炒几下，即可出锅装盘
									<br>
									4．最后切一些青葱末撒在虾身上，椒盐皮皮虾就好了
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/pipixia6.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
