<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">青 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Palinuridae</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">青虾</strong> 营养丰富，且其肉质松软，易消化，对身体虚弱以及病后需要调养的人是极好的食物；
                    另外，虾中含有丰富的镁，镁对心脏活动具有重要的调节作用，能很好的保护心血管系统，它可减少血液中胆固醇含量，防止动脉硬化，同时还能扩张冠状动脉，有利于预防高血压及心肌梗死；
                    虾的通乳作用较强，并且富含磷、钙、对小儿、孕妇尤有补益功效；
                    虾体内还含有虾青素，有助于消除因时差反应而产生的“时差症”。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/qingxia.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">青虾</strong>，又名河虾。青虾的体色呈青蓝色，间杂有棕绿色的斑纹。头胸部和腹部分界明显。体色的深浅会随生活的水质环境而起变化。
					<br><br> <strong style="font-size: 18px;">青虾 </strong> 属纯淡水产，生活于江河、湖沼、池塘和沟渠内。主要分布于中国和日本淡水水域中。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">青虾</strong>
                    性温味甘，入肝、肾经；
                    有补肾壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；
                    适宜于肾虚阳痿、遗精早泄、乳汁不通、筋骨疼痛、手足抽搐、全身搔痒、皮肤溃疡、身体虚弱和神经衰弱等病人食用。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/qingxia2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>炒青虾</h5>
                            <span class="enlis">Fried shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：青虾300克
                                <br>
                                辅料：花生油60克、料酒10克、酱油15克、醋10克、白砂糖15克、盐3克、味精2克、大葱8克、姜4克、韭菜100克
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将青虾去须、腿，洗净；<br>
                                2．韭菜择洗干净，切成长3厘米的段；<br>
                                3．将锅架在火上，放油烧至七八成热，把葱段、姜片放入爆出香味后，放入青虾迅速翻炒；<br>
                                4. 见虾色转红时下入韭菜同炒几下，随即加入料酒、酱油、醋、糖、盐和少许鲜汤，烧开；<br>
                                5. 盖上盖稍焖一下，放进味精拌匀，即可食用。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/qingxia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱油青虾</h5>
                            <span class="enlis">sauce prawns</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：青虾50g
								<br>
								辅料：香葱1根，老姜2片，蒜3瓣，干辣椒1只，调料：酱油2汤匙（30ml），芝麻香油2汤匙（30ml），白胡椒粉1茶匙（5g），绍兴黄酒1汤匙（15ml），白砂糖4茶匙（20g），油300ml
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．香葱、老姜和蒜分别切成末备用。干辣椒切碎备用。青虾用流动水冲洗干净。
								<br>
								2．中火加热炒锅中的油至7成热，放入洗净的青虾炸至颜色变红，须爪稍干，捞出沥干油分，盛入盘中。
								<br>
								3．炒锅中倒入酱油、绍兴黄酒、白砂糖、白胡椒粉和干辣椒碎煮开，淋在炸过的青虾上，撒上香葱末、老姜末和蒜末
								<br>
								4．另取一个干净炒锅，加热芝麻香油至8成热，淋在装有青虾的碗中，把香葱末、老姜末和蒜末爆香即可
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/qingxia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>盐水虾</h5>
                            <span class="enlis">Brine shrimp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：青虾
									<br>
									辅料：料酒10克 盐12克 大葱10克 姜8克 花椒2克
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将虾洗净，剪去须，尾，去掉头部沙包；再从脊背剪开，挑去沙线，待用；
									<br>
									2．煮锅加入清水1000克，放入葱、姜、花椒、料酒、盐，旺火煮沸；
									<br>
									3．撇浮沫，下入大虾煮熟；然后将虾捞出，晾凉，煮虾的水沉淀；
									<br>
									4. 将清澈的汤撇出放小盆内，冷却；	<br>
									5. 将虾用原汤泡上浸入味即可；
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/qingxia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
