<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">竹 节 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Penaeus japonicus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">竹节虾</strong>，俗称日本对虾。
					其体内不饱和脂肪酸含量较高，占脂肪酸总量的64.04%，其中二十碳五烯酸(EPA)、二十二碳六烯酸(DHA)分别为1.70% 和10.92%，多不饱和脂肪酸和EPA、DHA含量高于其他几种经济虾类及淡水鱼类。
					铁和锌含量丰富，镉、铬、镍等有害元素含量低。表明日本对虾具有较高的食用价值与保健作用。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/zhujiexia.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">竹节虾</strong>，也称花虾、日本对虾、花尾虾、斑节虾、车虾等。体中等长，侧扁，甲壳较厚。体呈浅黄色，具有蓝褐色横条斑花纹。
					<br><br> <strong style="font-size: 18px;">竹节虾 </strong>，自然栖息于水深10～40m的海域，喜欢栖息于沙泥底，具有较强的潜沙特性。分布极广，我国沿海、日本北海道以南、东南亚、澳大利亚北部、非洲东部及红海等均有分布。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">竹节虾</strong>
					性温味甘、微温，入肝、肾经；竹节虾有壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；竹节虾适宜于、遗精、乳汁不通、筋骨疼痛、手足抽搐、全身瘙痒、皮肤溃疡、身体虚弱和神经衰弱等病人食用
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/zhujiexia2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>细面车虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：
                                紫素面180公克，车虾2尾
                                <br>
                                辅料：太白粉少许，面衣适量
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．取一条橡皮筋将紫素面的一端捆绑固定后，放入滚水中汆烫捞起再放入冷水中，然后以筷子略微刷平排列整齐后，再将紫素面对折并排列放置在盘中舖底。<br>
                                2．车虾去头去壳后，用牙签挑除掉沙筋，再依序沾裹上太白粉和面衣。<br>
                                3．取一油锅并将油温烧热至180℃后，先将少许的面衣弹入油锅中，形成熟面衣的状态后，再将熟面衣以油网集中捞至油锅的一边，接着再把作法2的明虾放入前述的油网中，并且将熟面衣均匀的沾裹在明虾上面，油炸约3分钟至酥后捞起，摆放在作法1的盘中即可。
                                            
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/zhujiexia3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>茄汁松仁竹节虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：
                                野生竹节虾一斤
								<br>
								辅料：黄瓜一小段，松仁数颗，番茄酱一罐(100克)，白糖，料酒
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将竹节虾剪须洗净，从背脊开刀取掉沙肠。
								<br>
								2．入油锅煎至两面泛红取出。
								<br>
								3．锅内放油一勺，加入番茄汁一罐及白糖、精盐少许，以文火熬制出红油，即将炸过的竹节虾放入，翻锅包上番茄汁，淋少许面油增色即可装盆。
								<br>
								4．装盆后可在盆的四角放上绿色围边点缀，虾上再撒上一些松仁粒。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/zhujiexia4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>豉香竹节虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：
                                    竹节虾
									<br>
									辅料：蒜香豆豉酱，盐，糖，料酒，葱姜
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．虾砍头、抽肠，洗净后沥干水。
									<br>
									2．锅热油爆葱姜，下竹节虾煸炒，变红色后加入料酒、一大勺豆豉酱、少许盐、糖、少量水，加盖闷2分钟，翻匀出锅。
									<br>
									3．葱段入热油煸数秒取出，用来装点。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/zhujiexia5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>椒油炝竹节虾</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：
                                新鲜竹节虾
									<br>
									辅料：花椒，葱，姜，料酒，生抽，盐
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将虾洗净，开背抽取砂肠，以盐及料酒腌制一下。
									<br>
									2．将腌制好的虾放入生姜片，上笼蒸7分钟。
									<br>
									3．将蒸出的虾汤倒入盘子，淋入少许生抽，然后将蒸好的虾摆盘入盆，盆上放一大把葱花。
									<br>
									4．锅里放一勺油，加入花椒烧热，待爆出香味，滤去花椒，将油泼入葱花上即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shrimp/zhujiexia6.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
