<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲍 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Abalone</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲍鱼</strong>是中国传统的名贵食材，其肉质细嫩、鲜味浓郁，位列八大“海珍”之一，素称“海味之冠”，是极为珍贵的海产品。
					鲍鱼营养丰富，每100g干品中含蛋白质 64g，脂肪 2g，糖类 3g，同时还富含多种生理活性物质如 EPA、DHA、牛磺酸、超氧化物歧化酶等，对维持机体酸碱平衡、
					神经肌肉兴奋方面具有重要作用的金属元素（Ca2+、Mg2+等）的含量也较丰富。还有人体所需的钙、磷、铁等矿物质和多种维生素。
                    冬季鲍鱼中胶原蛋白占总蛋白含量高达 30%～50%，远高于一般鱼贝类。
                    研究发现表明，胶原蛋白含有多种生物活性肽，具有很好的生理功能，如抗氧化、降血压、预防关节炎、保护胃粘膜和抗溃疡、促进皮肤胶原代谢等。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/abalone/baoyu2.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲍鱼</strong>又名海耳、鳆鱼、镜面鱼、九孔螺、将军帽、白戟鱼、阔口鱼、白冀等。其名为鱼，实则非鱼，形状恰似人的耳朵。
					<br><br> <strong style="font-size: 18px;">鲍鱼</strong>通常生长在水温较低的海底，足迹遍及太平洋、大西洋和印度洋，公认最佳产地为日本北部和墨西哥，我国东北部也是传统产区。各大洋中，以太平洋沿岸及其部分岛礁周围分布的种类与数量最多，印度洋次之、大西洋最少，北冰洋沿岸无分布。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲍鱼</strong>性平，味甘，咸，可明目补虚、清热滋阴、养血益胃、补肝肾，故有“明目鱼”之称。
					鲍壳又称石决明，是著名的中药材，可平肝潜阳、除热明目，对头痛眩晕、目赤翳障、视物昏花、青盲雀目等症具治疗功效。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/abalone/baoyu.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>鲍鱼粥</h5>
                            <span class="enlis">Abalone porridge</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲍鱼
                                <br>
                                辅料：姜片 3片、葱 2支、鸡肉 4两、金针菇 2两、香菇 1朵、芹菜 2支、米 1/2杯、水 4杯、盐 1/4大匙、柴鱼味精 2小匙、白胡椒粉 2小匙、香油 2小匙
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将鲍鱼洗净，放入清水中浸泡约1天后（可置于冷藏），再加入材料<br>
                                2．同煮，沸腾后改小火熬煮约2～3小时，待鲍鱼软化后即熄火再浸泡半天，最后取出鲍鱼切薄片备用。<br>
                                3．洗净，鸡肉切片、金针菇切段、香菇切片、芹菜切末备用。<br>
                                4. 将米洗净加入4杯水，先以大火煮沸后改小火熬煮，此时加入鲍鱼片与鸡肉片续煮约30分钟，再加入金针菇、香菇、芹菜末与所有调味料拌匀煮熟即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/abalone/baoyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>小鲍鱼排骨汤</h5>
                            <span class="enlis">Abalone Ribs Soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小鲍鱼
								<br>
								辅料：300g排骨、1粒洋参、适量盐
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．鲍鱼去除内脏，洗刷干净，排骨洗净焯水。
								<br>
								2．焯水好的排骨重新加适量水，放入鲍鱼和壳。
								<br>
								3．洋参切片，一同放入锅中。。
								<br>
								4．盖上锅盖，大火煮15分钟，小火煮10分钟。
								<br>
								5. 最后加少许盐调味即可盛出。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/abalone/baoyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>广式蒸鲍鱼</h5>
                            <span class="enlis">Cantonese-style steamed abalone</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲍鱼
									<br>
									辅料：粉丝一小包(25克).适量的姜末、蒜末、葱花.
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲍鱼洗净备用.将粉丝烫熟备用.
									<br>
									2．将粉丝放到盘里作垫底,然后放上鲍鱼,撒上姜末、蒜末、葱花备用.
									<br>
									3．调汁:将适量的黄酒、盐、味精、胡椒粉、鲍鱼汁、酱油调成汁.将调好汁倒到每只鲍鱼上稍稍腌制10分钟.
									<br>
									4．锅内放入清水盖上锅盖大火煮沸,将鲍鱼放到笼屉上蒸3分钟即可.
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/abalone/baoyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>鲍鱼炖土豆</h5>
                            <span class="enlis">Abalone Stewed Potatoes</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲍鱼
									<br>
									辅料：土豆、姜、葱、花椒、大料、白砂糖、酱油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲍鱼洗净，待用；
									<br>
									2．土豆去皮，切块待用；
									<br>
									3． 花椒、大料爆锅，下葱、姜，出香味后加入土豆，再加入少量大蒜及一品鲜酱油，大火炒几下后，加入一定量的水。
									<br>
									4.加入砂糖，盖锅盖烧开转小火烧20分钟左右，土豆已熟，加适当的盐
									<br>
								5.将鲍鱼去壳，下锅，盖锅小火焖7、8分钟后，即可食之。
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/abalone/baoyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鲍鱼</h5>
                            <span class="enlis">Braised abalone</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲍鱼
									<br>
									辅料：食盐 酱油 葱 姜 米醋 淀粉 香菜 白糖
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．用勺铲断鲍鱼背柱将其撬出，去掉后面的绿色内脏后洗干净。
									<br>
									2．将鲍鱼壳放入开水中焯5份钟消毒。最后装盘时用。
									<br>
									3．将鲍鱼正面改斜十字刀，切姜末、葱末、香菜末。
									<br>
									4.在碗中倒入适量的海鲜酱油、米醋、白糖、盐，根据口味调配，淀粉可放可不放，米醋和白糖稍微多放些去腥味。
									<br>
									5.锅内倒入油适量，放入姜葱末翻炒，再放入鲍鱼翻炒后，倒入碗中调好的汤汁（汤汁少可加适量水），5分钟左右汤汁收干，鲍鱼熟后放入香菜末翻炒两下，即可出锅装盘
								
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/abalone/baoyu7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
