<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲅 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Scomberomorus niphonius </h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲅鱼</strong>
					又名马鲛，为海产经济鱼类，多做家常菜。新鲜鲅鱼肉质厚实、肥嫩，有弹性，刺少，味道鲜美 。
                    鲅鱼是一种肉质细腻、味道鲜美、营养丰富的海鱼。它含有丰富的蛋白质、维生素A、维生素B1、维生素B2、维生素E、钙、碘等营养物质，对贫血、营养不良的宝宝来说是非常好的食物 [9]  。
                    鲅鱼中含有丰富的不饱和脂肪酸，其中又以DHA的含量较高。鲜销、腌制成咸鱼或罐头均可。
                </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/bayu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲅鱼</strong>，学名“蓝点马鲛”。其体态光滑娇美，呈纺锤形，一般体长0.3～0.5米。背部为蓝黑色，布满蓝色斑点，腹部为银灰色。性凶猛，游泳力强，喜集群。
					<br><br> <strong style="font-size: 18px;">鲅鱼</strong>喜栖息于沿岸及沿岸水与外海水交汇处水域。大多分布于北太平洋西部。中国产于东海、黄海和渤海。主要渔场有舟山、连云港外海及山东南部沿海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲅鱼</strong>：<br>
                        【 性 】：热<br> 
                        【 味 】：甘,咸<br> 
                        【归经】：肺,肾<br> 
                        【功效】：补气、平咳<br> 
                        【适宜】：体弱咳喘、贫血、早衰、营养不良、产后虚弱
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/bayu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>家常煎鲅鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲅鱼
                                <br>
                                辅料：鸡蛋 调料盐、味精、料酒、淀粉、面粉、花生油、葱姜片

                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．鲅鱼处理干净，切厚片，加葱姜片及调味品，腌制入味。<br>
                                2．将鸡蛋、面粉、淀粉调匀成糊。<br>
                                3．鲅鱼块挂糊入锅，煎至两面金黄色即可出锅。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/bayu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>五香熏鲅鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲅鱼2条。
								<br>
								辅料：八角5粒、葱段、姜片、酱油（用量必须能没过主料）、料酒、白糖、味精各适量。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
                                1、鲅鱼去除内脏，清洗干净，斩去头尾（留做他用），取鱼中段顶刀切成厚片，撒上适量的盐入味备用；<br>
                                2、制作腌熏汁：将酱油、白糖、料酒、八角、大葱段、姜片、味精一同入锅中煮沸，倒入容器中晾凉备用；<br>
                                3、坐锅开火，加宽油，将鲅鱼片下入锅中煎炸至两面呈金黄色时捞出，并趁热放入腌熏汁内，腌制两个小时；<br>
                                4、将鲅鱼同腌熏汁一同倒入锅中，旺火煮沸，再改小火烧3分钟，关火，将鲅鱼捞出晾凉即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/bayu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>西红柿炖鲅鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲅鱼
                                <br>
                                辅料：西红柿	2个、
                                木耳、
                                葱、姜、	
                                食用油	3-4汤匙、
                                番茄沙司	2汤匙、
                                生抽	1汤匙、
                                盐、鸡精、糖	适量、料酒
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．鲅鱼去掉内脏和腮，洗净。加姜片、葱段、料酒腌制半小时。
                                <br>
                                2．西红柿划十字口，开水烫下，去皮。
                                <br>
                                3．去皮后的西红柿切成小丁。鱼腌好后捞出沥干水分。葱、姜也捞出沥干水分。备用。
                                <br>
                                4．烧热炒锅，倒入油，把鱼两面煎黄。盛出。<br>
                                5. 煎鱼的油烧热，下葱、姜（就是刚才腌鱼用过的）爆香。加入2汤匙番茄沙司略炒。<br>
                                6. 下西红柿丁，加入适量盐和生抽翻炒。如果汤汁比较酸可以适量的放些糖，不放也可以。<br>
                                7. 把刚才腌鱼的料酒倒进锅里一些，熬一会<br>
                                8. 锅里西红柿小丁基本化掉的时候放入煎好的鱼，小火熬一会儿至汤汁浓稠，鱼入味即可。。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/bayu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>鲅鱼饺子</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲅鱼一条（两斤左右），韭菜半斤。
									<br>
									辅料：葱、姜、面粉、花椒、香油、食用油、水、鸡精、酱油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1. 面粉用适量凉水揉成光滑的面团，静置一边待用，取5-6粒花椒用少许温水泡着待用，葱姜切末待用，将韭菜洗好切细末待用<br>
                                2. 鲅鱼洗净，顺着鱼背片开，去除中间的大刺及周边的小刺，轻轻拍一下片好的鱼肉，去除鱼皮，留下鱼肉剁成鱼肉糜。<br>
                                3. 将剁好的鱼肉糜盛入盆中，加入少许鸡精、泡好的花椒水，再一边搅一边加水（要总是顺着一个方向搅拌，水要一点点儿加）一般能加入一碗水，将鱼肉糜搅拌到将筷子插入其中能立着就好。<br>
                                4. 加入搅好的鱼馅里（韭菜不需要很多，最好只用韭菜叶）再加盐，少许酱油，香油及食用油调味儿，韭菜要一斤鲅鱼馅一两韭菜为好，做出的馅料保持鲅鱼的新鲜口感，也带有韭菜的鲜香。<br>
                                5. 将醒好的面团揉搓成长条，切成小剂子，擀成面皮，在面皮中放入适量的鱼馅儿包成饺子煮熟即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/bayu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>焖鲅鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲅鱼
									<br>
									辅料：甜面酱、糖、酱油、料酒、大蒜、葱、花生油、香油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲅鱼处理干净，改刀成1厘米的直刀。<br>
                                    2．锅中加酱，鲅鱼煎一下。<br>
                                    3．加大蒜、甜面酱炒香，加水，调味，放入鲅鱼，慢火煨透。<br>
                                    4．急火收汁，加香油即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/bayu7.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鲅鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲅鱼
									<br>
									辅料：蒜苔、干辣椒、葱、姜、豆豉酱
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、将鲜鲅鱼切成薄片。2、锅中加适量油，加葱、姜、干辣椒、一匙豆豉酱、一匙白糖煸炒出香味。<br>
                                    3、煸出香味后加水、盐。<br>
                                    4、水滚后倒入鲅鱼。<br>
                                    5、炖到把汤收干，加入蒜苔、鸡精翻炒几下，即可出锅。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/bayu8.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
