<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲳 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Pampus argenteus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲳鱼</strong> 含有多种营养。100克鱼肉含蛋白质15.6克，脂肪6.6克，碳水化合物0.2克，钙19毫克，磷240毫克，铁0.3毫克。
					含有丰富的不饱和脂肪酸，有降低胆固醇的功效；含有丰富的微量元素硒和镁，对冠状动脉硬化等心血管疾病有预防作用，并能延缓机体衰老，预防癌症的发生。
					鲳鱼具有益气养血、补胃益精、滑利关节、柔筋利骨之功效，对消化不良、脾虚泄泻、贫血、筋骨酸痛等很有效。平鱼还可用于小儿久病体虚、气血不足、倦怠乏力、食欲不振等症。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/changyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲳鱼</strong>别名有镜鱼、平鱼、叉片鱼等。体短而高，极侧扁，略呈菱形。头较小，吻圆，口小，牙细。体银白色，上部微呈青灰色。
					<br><br> <strong style="font-size: 18px;">鲳鱼 </strong>是热带和亚热带的食用和观赏兼备的大型热带鱼类。常栖息于水深30-70m潮流缓慢海区内。主要分布于中国沿海、日本中部、朝鲜和印度东部。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲳鱼</strong>：<br>
					【 性 】：平<br>
                    【 味 】：甘<br>
                    【归经】：胃<br>
                    【功效】：益气养血、补胃益精、滑利关节<br>
                    【适宜】：小儿久病体虚、气血不足、倦怠乏力、食欲不振
                </p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/changyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>葱油鲳鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲳鱼
                                <br>
                                辅料：葱 、生姜、 油 、盐 、酱油、 鸡精 、干辣椒适量
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、把鱼洗净两面划一下刀；<br>
                                2、用盐、鸡精淹制10分钟放入锅里蒸熟；<br>
                                3、出锅后，倒到多余的水份，洒上酱油，葱花；<br>
                                4、把锅烧热，爆油加生姜、干辣椒烧到7成热，洒在鲳鱼上即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/changyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎鲳鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲳鱼300克
								<br>
								辅料： 芹菜20克、 番茄70克、 洋葱50克、 红辣椒30克、 姜5克、 酱油30克 、白砂糖10克、 盐1克、 白酒20克、 大葱20克、 植物油20克
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1. 鲳鱼去内脏及头尾洗净，剖开鱼身剔除大骨后留鱼肉待用；<br>
                                2. 番茄、洋葱洗净切丁；<br>
                                3. 芹菜去叶洗净切末；<br>
                                4. 红辣椒洗净去籽切斜片；<br>
                                5. 姜切丝、葱切末待用；<br>
                                6. 鱼用调味料（酱油30克、白糖10克、盐1克、白酒20克、葱末20克）拌匀，腌半小时左右取出；<br>
                                7. 将鱼在20克热油中煎至金黄色即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/changyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>糖醋鲳鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲳鱼500克左右
									<br>
									辅料：青椒、胡萝卜、生抽、老抽（比例1.5:1）料酒 ,糖 镇江香醋、姜 ,小葱, ,盐、味精
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1、将鱼洗净、切二字花抹盐，料酒； 备用。<br>
                                2、放入热油锅内先煎煎至鱼皮呈黄色见硬时，把鱼捞出；<br>
                                3、锅内加油、酒葱、蒜等爆香，加调料煸炒；<br>
                                4、 再放入肉清汤烧开，将鱼放入，然后用小火焖烧几分钟，加醋；<br>
                                5、见鱼肉熟汁呈胶状后，加味精并晃动，使卤汁裹包鱼，装盆即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/changyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸鲳鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲳鱼
									<br>
									辅料：葱丝、胡萝卜丝、葱片、姜片、盐、胡椒粉、料酒、蒸鱼豉油、花生油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、鲳鱼鱼洗净，两面斜打花刀，深及鱼骨;<br>
                                    2、两面抹上盐、胡椒粉和适量料酒，放上葱片和姜片，腌制15分钟左右;<br>
                                    3、起蒸锅，大火上汽后，放入鲳鱼，加盖，保持大火蒸5分钟;<br>
                                    4、蒸鱼的时候准备葱丝，再切上几丝胡萝卜丝点缀;<br>
                                    5、蒸好的鱼除去葱姜和多余的鱼汤，装盘;<br>
                                    6、浇上适量蒸鱼豉油;<br>
                                    7、撒上葱丝和胡萝卜丝;<br>
                                    8、小锅烧热适量花生油，这个要热一点儿，加热到油微微冒烟;<br>
                                    9、将热油浇在葱丝上，一定要听到“滋啦”的响声，即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/changyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鲳鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲳鱼500
									<br>
									辅料：青蒜、葱、姜、干辣椒、白酒、生抽、白糖、食盐
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、将去头去内脏的鲳鱼洗净，在鱼身上均匀的拍上一层干面粉，将鱼整个裹住。<br>
                                    2、把鲳鱼放入锅内，别管放进去是啥状态都不要再动它了，小火慢煎，随时观察鱼的边缘，当颜色稍稍发黄，轻轻的晃动锅子它还会跟着移动，就说明底部已经煎好定型。<br>
                                    3、将鲳鱼翻面，同样的不再动它，直至煎黄。<br>
                                    4、另起炒锅，加少许的油，小火，放入干辣椒、葱、姜，炒出香味。<br>
                                    5、然后加入清水、盐、白酒、生抽、白糖，大火煮开。<br>
                                    6、水要足够多最好能没过鱼。<br>
                                    7、放入煎好的鲳鱼，加盖继续大火烧煮。<br>
                                    8、煮至汤汁收浓，中间不要用铲子随意的翻动鱼，这样好保持鱼的完整。<br>
                                    9、加入青蒜苗，将青蒜苗扒拉至鱼汤里面烫出香味即可关火。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/changyu7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
