<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">刀 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Coilia ectenes</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">刀鱼 </strong>的脂肪含量高于一般鱼类，且多为不饱和脂肪酸，这种脂肪酸的碳链较长，具有降低胆固醇的作用，是老人、儿童、孕产妇的理想滋补食品；
					刀鱼全身的鳞和银白色油脂层中还含有一种抗癌成分6-硫代鸟嘌呤，对辅助治疗白血病、胃癌、淋巴肿瘤等有益；刀鱼含有丰富的镁元素，对心血管系统有很好的保护作用，有利于预防高血压、心肌梗死等心血管疾病。
                    长江刀鱼含有丰富的蛋白质、脂肪，肌肉氨基酸组成基本符合FAO/WHO的评价标准；尤其是脂肪显著高于一般名特优鱼类，脂肪酸以不饱和脂肪酸为主；
                    在肌肉游离氨基酸中，含有丰富的鲜味氨基酸，尤其含有高比例的活性氨基酸-γ-氨基丁酸。长江刀鱼是人类的一种营养均衡、味道鲜美、对人体健康有益的动物蛋白。
                    刀鱼味道鲜美，肉质细嫩，因而远近闻名，与长江鲥鱼、河鲍并称为“长江三鲜”。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/daoyu2.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">刀鱼</strong>，学名长颌鲚，又称带鱼。刀鱼体形狭长侧薄，颇似尖刀，银白色，肉质细嫩，但多细毛状骨刺。肉味鲜美，肥而不腻，兼有微香。
					<br><br> <strong style="font-size: 18px;">刀鱼</strong> 主要分布于我国渤海、黄海以及东海区域，大多栖息于浅海以及河口一带。在每年春季达到成熟期的个体聚集成群，然后由海游入长江，沿江逆流而上进行生殖洄游，栖息于江内及其支流等水体中。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">刀鱼</strong>：<br>
					【 性 】：温<br>
                    【 味 】：甘,咸<br>
                    【归经】：肝,脾<br>
                    【功效】：补脾、益气、暖胃、养肝、泽肤、补气<br>
                    【适宜】：久病体虚，血虚头晕，气短乏力，食少赢瘦，营养不良</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/daoyu.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸带鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：带鱼一条(一斤左右) 
                                <br>
                                辅料：葱、姜、料酒、盐、味精、鱼露 。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、将带鱼切成块状，洗干净；<br>
                                2、将带鱼块两面剞十字花刀(斜切成网格状)，切半寸段；<br>
                                3、将带鱼块装盘，加入调料，上蒸笼蒸6分钟；(家庭蒸要用10-15分钟)<br>
                                4、将蒸熟的带鱼出笼，淋明油即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/daoyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>干炸带鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：带鱼800克。
								<br>
								辅料：姜10克，花椒5克，八角5克，淀粉（豌豆）10克，盐5克，植物油50克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1.将带鱼去肠、去头尾、刮鳞洗净后切成5厘米长的段，然后用姜末、花椒粉、大料粉、盐腌制一下，淀粉调水挂浆；<br>
                                2.锅中放植物油烧热，将带鱼段取出，逐个下入油锅，慢火炸至两面金黄时，捞出装盘，即可食用；<br>
                                3、喜欢椒盐的盘中放点椒盐蘸着吃更是别有一番风味。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/daoyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>糖醋带鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：带鱼2条
									<br>
									辅料：鸡蛋2个，香菜段少许，葱段30克，姜3片，蒜片10克，大料2粒，干淀粉100克，白糖25克，醋20克，盐5克，料酒30克，生抽15克，香油少许。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1、带鱼洗净后去头、尾，切长段，用盐、料酒腌渍约半小时，然后放入由鸡蛋和干淀粉调成的蛋糊中挂浆；<br>
                                2、将带鱼下锅油炸至两面呈金黄色时，捞出控油；<br>
                                3、锅内留少许底油，放入大料、葱段、姜片、蒜片爆出香味后，添加白糖、料酒、生抽及适量清水，煮至开锅后，将炸好的带鱼放进锅里，待煮至汤汁剩下1/3时，烹入醋，撒上香菜段即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/daoyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧带鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：带鱼500克
									<br>
									辅料：春笋50克，香菇（鲜）25克，猪油（板油）36克，黄酒25克，盐1克，酱油50克，白砂糖5克，葱白5克，姜5克，猪油（炼制）66克
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1. 分别将春笋、香菇洗净切片；<br>
                                    2. 葱白切段，猪板油切丁，姜切片备用；<br>
                                    3. 将刀鱼（带鱼）刮鳞、去鳍、鳃，在肛门处横划一小口（割断鱼肠），用竹筷从鳃口伸入腹内，绞出内脏，洗去血污，斩去尾尖，用洁布吸去水，在鱼身一面抹匀酱油（10克）；<br>
                                    4. 炒勺放在中火上烧热，加入熟猪油（30克），放入刀鱼（将抹酱油的一面朝下）；<br>
                                    5. 煎至淡黄色，将鱼翻身，放入笋片、香菇片、猪板油丁、姜片、葱白段，加黄酒、酱油（40克）、白糖、盐、清水（淹没鱼身）；<br>
                                    6. 移旺火上烧至六成熟时加熟猪油（36克），移到中火上烧约2分钟；<br>
                                    7. 再移至旺火上，晃动炒勺，待卤汁收稠，起锅盛入盘中即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/daoyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
