<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲽 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Pleuronectiformes</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲽鱼</strong>，即常说的比目鱼。新鲜的比目鱼是名贵的食用鱼，它的肉质鲜嫩，鱼刺也较少，清蒸、红烧都很合适，一般还会被制作成罐头。它的肝脏还可以提炼鱼肝油。
                    鲽鱼体内富含蛋白质、维生素A、维生素140D、钙、磷、钾等营养成分，尤其维生素B6的含量颇丰，而脂肪含量较少。

                    碟鱼富含大脑的主要组成成分DHA，经常食用可增强智力，它所含的不饱和脂肪酸易被人体吸收，有助降低血中胆固醇，增强体质。

                    碟鱼肉质细嫩而洁白，味鲜美而肥腴，补虚益气，十分适合人们食用。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/dieyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">比目鱼</strong> 是鲽形目鱼类的统称。其具有扁平的身体，眼睛只生长在身体的一侧，具有鱼类中独一无二的不对称结构。多数比目鱼种类的雌雄两性之间没有明显的区别。
					<br><br> <strong style="font-size: 18px;">比目鱼</strong> 绝大多数是生活在海洋中的，但是也有一些种类能够生活在淡水中。欧洲比目鱼经常从海洋迁徙到河流捕食
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲽鱼</strong>性味甘平，有补虚、健脾、益气之功，用于久病体虚、营养不良、脾虚泄泻、肺气不足、肠胃失调、咳嗽痰喘、乳汁缺乏等症，也是劳伤、体弱者的食疗滋补品。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/dieyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎比目鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：比目鱼。
                                <br>
                                辅料：盐，油。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．比目鱼洗干净后撒上盐腌制两三个小时。<br>
                                2．锅里放油。油热后放入腌好的鱼中小火慢慢煎熟。<br>
                                3．等鱼肉熟透后转大火把鱼皮煎脆即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/dieyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>糖醋鲽鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲽鱼身
								<br>
								辅料：蒜片、
                                料酒	、
                                葱、
                                醋、	
                                糖
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．腌鱼。将鲽鱼清洗干净，在身上划刀，用盐均匀涂抹鱼身，放上蒜片，可以像我一样塞进划开的鱼身子里。腌制30分钟。
								<br>
								2．煎鱼。将腌制好的鱼擦干水分，正反两面涂抹面粉，放入煎锅中两面煎金黄色。
								<br>
								3．调制糖醋汁。1份料酒+两份酱油+3份糖+4份醋+5份水。
								<br>
								4．将葱段和蒜片放入锅中煸炒，出香味后，放入煎好的鱼。导入糖醋汁。大火烧开，小火炖下。（可以加些辅料，木耳，香菇之类）
								<br>
								5. 大火收汁即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/dieyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸鲽鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                1．先把鲽鱼洗净，用开水烫了一下皮，很容易就把黑皮退下去了。
									<br>
									2．在鱼身上两面都撒上盐和料酒腌十分钟，
									<br>
									3．切葱姜丝，铺在盘底，把腌好的鱼放在葱姜丝上，在鱼上再铺一些葱姜丝上锅蒸20分钟
									<br>
									4．把鱼盘中的水分倒出，蒸熟的葱姜丝拣出，在鱼身上重铺一层葱丝和辣椒丝，浇上蒸鱼豉油。<br>
									5. 锅中烧热油浇在鱼身上即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/dieyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鲽鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：碟鱼
                                <br>
                                辅料：葱、
                                姜、
                                蒜、
                                酱油、
                                醋、
                                料酒、
                                醋、
                                八角
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．碟鱼洗净划几刀 用厨房纸吸一下水 撒盐腌半小时
                                <br>
                                2．葱、姜、蒜、八角、五香粉、白胡椒粉、盐、糖、酱油、料酒、醋加水备好 量的话按照喜好调整就是了
                                <br>
                                3．鱼身拍上面粉 油里放几片姜 炸至金黄
                                <br>
                                4．待汁烧开放入炸好的鱼 小火盖盖儿熬一会儿翻面即可
                        </div>
                        <p>
                            <img src="../../images/detail/fish/dieyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
