<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">多 宝 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Scophthalmus maximus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">多宝鱼</strong>
					肌肉丰厚白嫩、骨刺少、营养组成全面，配比合理，鳍边和皮下含有十分丰富的胶原蛋白质，
					鱼肉中所含人体必需氨基酸既齐全又平衡良好，其中精氨酸和赖氨酸含量很高。
					据营养专家测算分析，多宝鱼的脑、眼和肌肉中DHA和EPA（脑黄金）含量也很高。
					此外，还含有多种维生素和钾、锌、锰、镁、铁、钙等多种矿物元素及粘多糖等有益于人体健康的微量成分。这些营养物质的含量均高于家禽和淡水鱼类，而且更容易被人体所吸收。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/duobaoyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">多宝鱼</strong>是大菱鲆的英译名兼商品名，又叫欧洲比目鱼。其身体扁平呈菱形，两眼位于头部左侧，背面呈青褐色，该鱼能随生活环境和底质的变化而改变体色的深浅。
					<br><br> <strong style="font-size: 18px;">多宝鱼</strong>自然分布于大西洋东侧欧洲沿岸，常见于北海和波罗的海，黑海和地中海沿岸也有分布，主要分布区在北海，栖息于水深20-70m。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">多宝鱼</strong>
					
					性凉味甘，可用来祛脂降压、疗头痛头晕、明目和胃；有暖胃和中、平降肝阳、祛风、治痹、截疟、益肠明眼目之功效；主治虚劳、风虚头痛、肝阳上亢、高血压、头痛、久疟。
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/duobaoyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>葱油多宝鱼</h5>
                            <!-- <span class="enlis">Grilled catfish with shallots</span> -->
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：多宝鱼1条（1斤左右）
                                <br>
                                辅料：姜丝、葱花、盐、鸡精、料酒、调味汁、白胡椒粉。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将杀好的多宝鱼清洗干净，放入大的鱼盘中，两面撒上盐，腌制10分钟；<br>
                                2．鱼身上铺姜丝去姜，洒少许料酒，倒少许调味汁或蒸鱼豉油，鸡精，入开水锅中大火蒸5分钟。<br>
                                3．将蒸好的鱼取出，拣去姜丝，撒上葱花再倒入少许调味汁，淋上烧的冒烟的热油，再洒少许白胡椒粉即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>水煮多宝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：多宝鱼
								<br>
								辅料：甜玉米	1根、
                                香菜	1把、
                                洋葱	1个、
                                西红柿	2个、
                                柠檬	1个、
                                毛豆	1把、
                                大蒜	3瓣、
                                八角	3瓣、
                                桂皮	1根。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．熬鱼骨汤：把鱼骨、西红柿瓤、玉米棒、大蒜、洋葱、桂皮、八角、香菜茎都扔到一口锅内，加入足够的冷水，小火煮30分钟
								<br>
								2．熬鱼骨汤：加最后调味料，柠檬汁+盐+黑胡椒。柠檬个头不一样，汁水有多有少，请自行尝试，根据自行喜好尝试；如果太酸可以加点黄油。
								<br>
								3．烹饪配菜：把之前熟了的玉米粒、毛豆粒、西红柿丁，加上香菜，加鱼汤加热，根据自行口味适当加些盐即可
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧多宝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲫鱼一条
                                <br>
                                辅料：甜豆50克，青、红、黄椒各1只(切片状)，藕条50克，干葱或洋葱25克，鸡蛋1只，干淀 粉、未炒过的黑白芝麻、柠檬汁、盐、胡椒粉、蜂蜜、鱼露等适量。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．鲫鱼切成大小均匀的块状，用胡椒粉、盐、柠檬汁、蜂蜜等腌5分钟，以去掉鲫鱼淡淡的海腥味；
                                <br>
                                2．鸡蛋打开，将腌好的鲫鱼的一面先粘上干淀粉，再粘上鸡蛋液，后粘上未炒过的黑白芝麻，待用；
                                <br>
                                3．电磁炉调中火，起锅，倒入适量橄榄油，当油冒起小泡，放入鲫鱼，先煎粘有黑白芝麻的一面20秒，待其定型后，再将另外两面煎至变金黄色约9成熟，然后离火，利用余温再煎几秒后上碟；
                                <br>
                                4．将甜豆、青红黄椒片、藕条炒熟后拌在煎好的鲫鱼边上即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu5.png" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>孜然烤多宝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：多宝鱼
                                <br>
                                辅料：盐 料酒 孜然粉 辣椒粉 洋葱 花生油
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．把 多宝鱼去除内脏洗净，在鱼身上切上十字刀。把多宝鱼用盐和料酒均匀抹上一层，腌制10分钟以上
                                <br>
                                2．洋葱切丝
                                <br>
                                3．把烤盘上垫上锡纸，刷上一层油，上面铺上洋葱丝
                                <br>
                                4．把多宝鱼两面都均匀的刷上花生油,均匀的撒上孜然粉和辣椒粉<br>
                                5. 用锡箔纸把多宝鱼包好<br>
                                6. 烤箱上下功能200度预热5分钟，放入烤盘中层，烤15分钟拿出<br>
                                7. 打开锡箔纸撒上辣椒粉和孜然粉，把多宝鱼放在烤架上,用250°再烤10分钟左右即可
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸多宝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：新鲜多宝鱼一条（1斤半左右）
								<br>
                                辅料：葱1根、姜1块、盐1茶匙（5克）、料酒1汤匙（15ml）、蒸鱼豉油10克、油、红椒丝适量。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．反复用清水冲洗鱼，直至彻底干净，不留血水，并把姜一半切丝，一半切片，葱白切成小段，葱绿切丝或切沫
                                <br>
                                2．用刀在鱼身上斜切3个花刀，这是为了让鱼肉更快熟和入味。用盐和料酒将鱼身及鱼腹内抹遍，腌制10分钟。
                                <br>
                                3．蒸锅中放入适量水烧开，将适量姜片、葱段放在鱼身上，将鱼放入蒸锅。
                                <br>
                                4．大火蒸7-8分钟，辨别鱼是否蒸熟，可以用筷子从鱼身上刺过，如果筷子不费劲地穿过鱼身，证明火候刚刚好。
                                
                                <br>
                                5. 蒸鱼期间将大葱或香葱切细丝，越细越好，切好的葱丝放入凉水中浸泡片刻，洗去粘液，浸泡冲洗后的葱丝会自然卷翘。
                                <br>
                                6. 鱼蒸好以后，扔去姜葱，倒掉蒸鱼时渗出的水。将切好的葱丝和红椒丝均匀摆在鱼身上。
                                <br>
                                7. 炒锅烧热2汤匙的油，8成热（油冒烟）时关火，将油刺在葱丝上。
                                    <br>
                                8. 趁烧油的锅还有余温，将蒸鱼豉油倒入，再加入少量的水。 	
                                <br>
								9. 最后，将烧热的豉油水顺着蒸鱼鱼盘的边缘倒进去，用适量的香菜围边即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎多宝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：多宝鱼1条约750克
                                <br>
                                辅料：茶油180克，葱、姜、蒜瓣各10克，豆瓣酱15克，干椒段5克，蚝油5克，盐6克，味精5克，高汤20克，胡椒粉3克，香油5克，白糖3克，米酒10克。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．把多宝鱼开膛去内脏洗净,打上十字花刀,用葱5克、姜、米酒、盐腌制10分钟,将豆瓣酱、蚝油、味精、白糖、胡椒粉、高汤调成芡汁,蒜瓣、葱5克切成末待用。
                                <br>
                                2．锅中放入茶油烧至五成热，放入腌制好的多宝鱼小火煎成两面呈金黄色,出锅待用。
                                <br>
                                3．锅放底油烧至六成热放入蒜末、干椒段大火炒香，放入调好的芡汁,再放入煎好的多宝鱼，用小火收干芡汁，淋上香油，撒上香葱末装盘即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu6.jpg" alt="">
                        </p>
                    </div>
                </div>

            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
