<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">黄 鳝</h3>
			<div class="about-top">
				<h3 class="subheading">Monopterus albus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">黄鳝</strong>肉嫩味鲜。营养价值甚高。每1百克鳝鱼肉中蛋白质含量达17.2-18.8克，
					脂肪0.9-1.2克，钙质38毫克，磷150毫克，铁1.6毫克；此外还含有硫胺素（维生素B1）、核黄素（B2）、尼克酸（维生素PP）、抗坏血酸（维生素C）等多种维生素。
					黄鳝不仅被当作名菜用来款待客人，近年来活运出口，畅销国外，更有冰冻鳝鱼远销美洲等地。黄鳝一年四季均产，但以小暑前后者最为肥美，民间有“小暑黄鳝赛人参”的说法。
					黄鳝的血液有毒，误食会对人的口腔、消化道黏膜产生刺激作用，严重的会损害人的神经系统，使人四肢麻木、呼吸和循环功能衰竭而死亡。但毒素不耐热，能被胃液和加热所破坏，一般煮熟食用不会发生中毒。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/huangshan.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">黄鳝</strong> 又名鳝鱼。体细长呈蛇形，体长约20-70厘米。体前圆后部侧扁，尾尖细。体裸露润滑无鳞片，富黏液。体背为黄褐色，腹部颜色较淡，全身具不规则黑色斑点纹。
					<br><br> <strong style="font-size: 18px;">黄鳝</strong> 为热带及暖温带鱼类，常生活在稻田、小河、小溪、池塘、河渠、湖泊等淤泥质水底层，在中国各地均有生产，以中国长江流域、辽宁和天津产量较多。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">黄鳝</strong>味甘，性温。归肝、脾、肾经。能补气血，强筋骨，除风湿。
					可用于气血不足，体倦乏力，心悸气短，头晕眼花。亦可用于治疗久痢、便血或内痔出血、久患风湿，肢体酸痛， 腰脚无力等。
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/huangshan2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>水煮鳝鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鳝鱼500克
                                <br>
                                辅料：豆芽100克、豆瓣50克、干辣椒10克、花椒20粒、葱100克、姜末20克、蒜末20克、肉汤400克、盐适量、鸡精适量、生抽1大匙、白胡椒、料酒
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1.鳝鱼去头去内脏洗净（清洗时在水中加入盐可去除鳝鱼的粘液）沥干水分，切段
                                2.用白胡椒、料酒稍腌
                                3.葱80克切丝20克切末，干辣椒用剪刀剪成段
                                4.炒锅下2大匙油，放干辣椒段和花椒炒成棕红色捞出（关火）剁碎待用
                                5.再开大火，将油烧至6成热时下葱丝炒香，下豆芽炒断生，盛出放入大碗底部
                                6.炒锅再下2大匙油，将油烧至6成热时放入剁碎的郫县豆瓣炒香（中火），加入姜末、葱末、蒜末炒香，加肉汤烧开（大火），下鳝鱼段搅散，待鳝鱼变色后加入盐、生抽、起锅盛入碗内，面上撒上剁碎的干辣椒和花椒
                                7.炒锅洗净下2大匙油，烧至6成热时淋在鳝鱼段上即可
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huangshan3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>黄鳝豆腐汤</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：黄鳝100克
								<br>
								辅料：豆腐150克、盐5克、味精2克、料酒6克、姜10克、葱15克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1、黄鳝除净内脏洗净切段，豆腐切小块，姜切片，葱切段；<br>
                                2、锅中注入适量油烧热，放入黄鳝大火煸炒片刻，加料酒、姜片、葱段及适量清水煮熟；<br>
                                3、待汤变成乳白色，加入切成小块的豆腐，继续煮10分钟，加盐、味精煮入味即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huangshan4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸鳝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：活鳝鱼1000克
									<br>
									辅料：火腿20克，香菇25克，玉兰片40克，猪板油10克，葱白、豌豆苗、料酒、精盐、味精、水淀粉、鲜汤各适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1.将鳝鱼宰杀，去头、骨、内脏，洗去污血，放入沸水锅中焯一下，用清水漂洗干净，切成段，背面剞十字花刀，摆在盘内。<br>
                            　　2.将葱白切段；火腿、玉兰片、香菇均切成片；猪板油切成小丁，撒在鳝鱼上，加入鲜汤、精盐、料酒、味精，上屉蒸约15分钟。<br>
                            　　3.将原汤滗入勺中，加鲜汤煮沸，用水淀粉勾芡，浇在鳝鱼上，撒上豌豆苗作点缀即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huangshan5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鳝鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：净鳝鱼片500克
									<br>
									辅料：大蒜75克，郫县豆瓣40克，精盐2克，酱油15克，葱段10克，姜片10克，味精1克，水豆粉15克，鲜汤400克，熟菜油100克，料酒10克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、鳝鱼洗干净，切成6厘米长的段。独头大蒜去外皮、洗净，放入冷水锅内煮熟（或蒸熟）待用。豆瓣剁细。<br>
                                    2、炒锅置旺火上，放油烧至七成热，放入鳝鱼炒至断生，加豆瓣、姜片、葱段炒香至油呈红色时，加鲜汤、酱油、盐、大蒜烧沸入味至软熟，放味精、水豆粉待收汁后起锅装盘即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huangshan6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>黄鳝汤</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：黄鳝500克
									<br>
									辅料：干淮山15克；红枣6粒；瘦肉200克；陈皮一小块；北芪：20克；姜3片；
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1.买黄鳝时请师傅剖好，不起骨，洗净，用刀背刮去表皮的“滑潺”，氽水捞起。不刮也行，氽水捞起再搓净；<br>
                                    2.瘦肉洗净切块，氽水捞起；<br>
                                    3.北芪、淮山和红枣洗净，红枣拍扁去核；<br>
                                    4.陈皮洗净，刮去内瓤；<br>
                                    5.煮沸清水，放入所有材料，大火煮20分钟，再转小火煲一个半小时，下盐调味即可食用。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huangshan7.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
