<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">黄 花 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Larimichthys </h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">黄花鱼</strong>
					肉质细嫩，
					含有丰富的蛋白质以及微量元素和维生素，对人体有很好的补益作用，对体质虚弱和中老年人来说，食用黄花鱼会收到很好的食疗效果。
					同时黄花鱼含有丰富的微量元素硒，能清除人体代谢产生的自由基，能延缓衰老，并对各种癌症有防治功效。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/huanghuayu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">黄花鱼</strong>，又名黄鱼。黄花鱼分为大黄鱼和小黄鱼，分别为我国四大海洋业品种之一。大黄鱼，体近长方形而侧扁，背缘及腹缘的前方隆凸而后方为低。体长约30余厘米。
					小黄鱼，形状和大黄鱼相近而小。体长约20厘米。
					<br><br> <strong style="font-size: 18px;">大黄鱼</strong>分布于黄海南部、东海和南海。
					<br><br> <strong style="font-size: 18px;">小黄鱼</strong>分布于我国黄海、渤海、东海及朝鲜西海岸。

					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">黄花鱼</strong> 性味甘平，具有健脾升胃、补虚益精、调中止痢之功效，对贫血、失眠、头晕、食欲不振及妇女产后体虚有良好疗效。黄花鱼汤用于病后体虚，食欲缺乏，夜卧不宁。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/huanghuayu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>炖黄花鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：黄花鱼1000克
                                <br>
                                辅料： 猪肥瘦肉、青蒜、青菜各100克。鲜姜10克、大葱15克、绍酒20克、醋15克、酱油10克、芝麻油10克、花生油250克、精盐7.5克。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将活黄花鱼刮去鳞，掏净内脏及鳃，洗净。在鱼身两面剖上斜直刀，用精盐腌渍。<br>
                                2．猪肥瘦肉切丝、青菜切段。<br>
                                3．炒锅内加花生油、中火烧至六成热（约150℃）、用葱段。姜片煸炒几下，倒入肉丝煸至断血<br>
                                4．放入绍酒、醋，加入酱油、清汤、精盐烧至沸<br>
                                5. 将鱼入锅内小火熬炖20分钟，撒上青菜、青蒜，淋上芝麻油盛汤盘内即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huanghuayu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>家常焖黄花鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：黄花鱼四条
								<br>
								辅料：姜15g、葱20g、猪肉50g、老抽15ml、黄酒20ml、冰糖10g、食用油30ml、盐4g、开水800ml。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．黄花鱼去鳞开膛洗净，擦干水分；鱼身切花刀，用盐涂抹全身及内腔，腌制半小时；
								<br>
								2．猪肉切丝备用；
								<br>
								3．热锅放入植物油，油热后将葱、姜末放入，煸炒出香味，猪肉丝下锅翻炒，断生；
								<br>
								4．加入黄酒、醋、盐、糖、老抽、水煮开；
								<br>
								5. 将腌制过的鱼放入，盖上锅盖，中小火焖制20分钟旺火收汤即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huanghuayu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧黄花鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：黄花鱼(1尾)
                                <br>
                                辅料：土豆(半只)、青椒(半只)、红椒(半只)、葱末(半汤匙)、姜丝(1汤匙)、蒜末(半汤匙)、香菜(1根)、八角(1粒)、面粉(汤匙)、高汤(1/2杯)、油(7汤匙)、豆瓣酱(1汤匙)、白糖(1/2汤匙)、鸡粉(1/3汤匙)、盐(1/3汤匙)
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．洗净膛好的黄花鱼，加入1/3汤匙盐抹匀，往鱼腹内塞入姜丝，腌制15分钟。
                                <br>
                                2．青红椒切成滚刀块，香菜切成末；土豆去皮，放入沸水中煮10分钟，捞起过冷河沥干水，切成滚刀块。
                                <br>
                                3．先用厨房纸吸干鱼身上的水分，再拍上一层干面粉待用。
                                <br>
                                4．取一平底锅，烧热5汤匙油，放入黄花鱼，以中火煎至双面呈金黄色，捞起沥干油。<br>
                                5. 取一炒锅，烧热2汤匙油，炒香葱蒜末、姜丝和八角，加入1汤匙郫县豆瓣酱炒匀，倒入青红椒和土豆拌炒1分钟。<br>
                                6. 注入1/2杯高汤，加入1/2汤匙白糖和1/3汤匙鸡粉调味，放入黄花鱼轻轻翻动，让鱼身裹上酱汁。<br>
                                7. 加盖大火煮沸，改小火焖煮5分钟，洒上香菜末，即可出锅。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huanghuayu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸黄花鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：黄花鱼
									<br>
									辅料：料酒、盐、姜丝、葱丝、鸡精
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将葱切成丝、姜切丝；
									<br>
									2．将鱼洗净起五脏，撒上料酒、盐、鱼腹中放入葱丝、姜丝上笼蒸8分钟即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huanghuayu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>干炸小黄鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小黄鱼一斤
									<br>
									辅料：料酒2勺，葱2根，姜末1小勺，盐1勺，鸡蛋1只，淀粉半两，面粉1两，食用油适量
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．小黄鱼去鳞、去鳃、去内脏后洗净备用。
									<br>
									2．取大碗一只，将小黄鱼用料酒、葱段、姜片、盐、抓匀腌20分钟左右。
									<br>
									3．用鸡蛋与面粉、淀粉搅拌均匀制成炸鱼糊备用。
									<br>
									4．将腌好的小黄鱼除去花椒、葱、姜后挂糊备用。<br>
									5.锅中多放油，烧热，下鱼炸制，炸熟捞出。可以复炸一遍，使鱼更酥。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huanghuayu7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
