<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鮰 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Leiocassis longirostris</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鮰鱼</strong>肉质鲜美细嫩，营养丰富，历来被作为朝廷贡品。在江鲜中与河豚、刀鱼齐名，而且鱼鳔特别肥厚，可加工成珍贵的鱼肚，故有“没吃淮王鱼，不算吃过鱼”的说法。
					鱼类是人类膳食中蛋白质、氨基酸、脂肪的重要来源，不仅含有较为丰富的蛋白质，氨基酸种类齐全、组成平衡，包括8种必需氨基酸，此外，不饱和脂肪酸含量较高，包括多不饱和脂肪酸EPA和DHA。
					另外，长吻鮠腹中之宝——鱼鳔，干制后为名贵鱼肚，它胶质层厚，味纯正，色半透明，制作工艺独特，干制品的外形和镶嵌在鳔内的一个美丽的自然图案，对着光源照看，与屹立在石首市城里的笔架山酷似，由此得名“笔架鱼肚”，并有“此物唯独石首有，走遍天下无二家”之说。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/huiyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鮰鱼</strong>俗称江团、肥沱、肥王鱼，淮王鱼。因其吻部较一般鮠属鱼类长，故被称为长吻鮠。长吻鮠体表无鳞，体形近似纺锤形。体色粉红，背部稍带灰色，腹部白色，鳍为灰黑色。
					<br><br> <strong style="font-size: 18px;">鮰鱼</strong>一般生活于江河的底层，分布于中国东部的辽河、淮河、长江、闽江至珠江等水系及朝鲜西部，以长江水系为主。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鮰鱼</strong>性平，味甘。有补中，益气，开胃之功效。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/huiyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱汁焖鮰鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鮰鱼一条
                                <br>
                                辅料：四季豆50克、 藕80克、 红薯80克、 食盐1/2茶匙 、酱油1/2汤匙、 葱5克 、姜5克 、蚝油1/2汤匙、 番茄酱1/2汤匙 、甜面酱1/2汤匙、 海鲜酱1/2汤匙、 白糖1/2茶匙 、植物油1汤匙
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将甜面酱、番茄酱、海鲜酱、蚝油、 酱油和少许白糖调和成浓郁的酱汁<br>
                                2．鮰鱼切成片， 加入姜片和大葱， 加入一半酱汁<br>
                                3．带上一次性手套， 抓匀后盖上保鲜膜腌制二个小时<br>
                                4．准备其他的原材料：四季豆、薯条和藕条<br>
                                5. 煲中放入适量的植物油， 将腌制过鱼里的姜片和大葱段捞出放在里面煸炒<br>
                                6. 煸炒出香味后下入准好的藕条、薯条和四季豆一起翻炒<br>
                                7. 翻炒以后加入适量的盐调味<br>
                                8. 盖上锅盖后焖上五分钟<br>
                                9. 揭开盖，将腌制好的鱼块码放在菜的表面上<br>
                                10. 将腌制的汁和剩余的一半调料汁都浇淋在鱼的表面<br>
                                11. 再盖上盖，焖上十分钟关火，表面撒些小葱即可
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huiyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>鲜蒸鮰鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鮰鱼
								<br>
								辅料：西兰花、姜末、葱末；豆豉、食盐、天添鲜、料酒、白糖、白胡椒粉、葱姜蒜粉
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1、西兰花洗净，焯水(加油和食盐)，捞出备用；<br>
                                2、鮰鱼用食盐和料酒腌渍片刻，上笼蒸15分钟，取出待用；<br>
                                3、锅烧热，入油，下葱末、姜末、豆豉煸香，加盐、天添鲜、胡椒粉，待豆豉烧酥后淋在蒸好的鮰鱼上，旁边用西兰花围边，装盘即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huiyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白汁鮰鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鮰鱼1条(1250克)
									<br>
									辅料：白糖5克，葱结1只，盐3克，姜2片，猪油150克，竹笋100克，味精2克，绍酒30克
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鮰鱼刮鳞、剖腹、去内脏、去鳃，清水洗净，放在砧板上，齐鳍斩下鱼头，在肛门处切下鱼尾。将前中段剖成两片，每片各斩成4小块；鱼头一劈两片，再各斩成2块；鱼尾竖切成4块。将鱼块放入开水锅中略烫取出，用清水漂洗干净。
                                    <br>2．竹笋剥去壳，清水洗净，切成菱形。<br>
                                    3．炒锅上旺火，放入猪油，烧至七八成热，下葱、姜煸出香味后捞出，再放入鮰鱼块稍煎，烹酒后加盖加重焖，以去其腥味，随即下笋片，加盐、糖、清水（以淹没鱼块为度），加盖烧开后用小火焖烧15分钟左右，再用旺火稠浓卤汁，放味精，出锅装盘。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huiyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>焖锅鮰鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                原料A：三斤左右鮰鱼一条、油20克、姜15克、蒜15克、小米椒15克、老抽一小勺、料酒15克、盐1小勺、鸡精半小勺
									<br>
									原料B: 黄油15克、尖椒王10克、花椒10克、姜末10克、蒜末10克、麻辣火锅底料60克、陴县红油豆瓣30克
									<br>
									
									原料C:  黄瓜1根、莴苣2根、胡萝卜2根、盐一小勺、鸡精半小勺、胡椒粉适量、油20克
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
                                    1.鮰鱼清理干净，剁成大块；<br>
                                    2.生姜大蒜切末、小米椒切小圈；<br>
                                    3.材料b中所有材料入锅小火煸香盛入碗中放凉备用；<br>
                                    4.将鮰鱼置于一大盆中，加入材料a中所有佐料，再加入20克材料b混合的成品酱料，拌匀，腌渍5-15分钟；<br>
                                    5.黄瓜切长条、莴苣胡萝卜去皮切滚刀，置于煲中，加入材料c中的佐料，再加入15克成品酱料，拌匀；<br>
                                    6.将腌好的鱼块码放在蔬菜上面；<br>
                                    7.盖上锅盖，中火烧至冒热汽后，转最小火，再焖7-10分钟；<br>
                                    8.开盖，将锅中材料用木铲小心的抄动均匀，盖上盖子再用小火焖10分钟即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huiyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鮰鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：新鲜鮰鱼1条
									<br>
									辅料：姜片，葱段，味精，糖，胡椒粉，黄酒，生粉，酱油，精制油。	
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．先将鮰鱼洗净沥干，斩块
									<br>
									2．放入八成热的油锅中炸一下捞出沥干油
									<br>
									3．锅中放入姜片、葱段、少许油，略煸炒一下，放入鱼块
									<br>
									4．加入黄酒、酱油、糖、味精、胡椒粉，翻炒几下，加盖焖10分钟左右
									5. 最后，勾芡，装盆即成。<br>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/huiyu7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
