<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲫 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Carassius auratus auratus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲫鱼</strong>
					是我国最常见的淡水鱼类之一，肉质细嫩，营养价值很高，每百克肉含蛋白质13克、脂肪11克，并含有大量的钙、磷、铁等矿物质。鲫鱼药用价值极高，其性平味甘，人胃、肾，具有和中补虚、除赢、温胃进食、补中生气之功效。
					<br>
					<strong style="font-size: 18px; color: #000000;">另外</strong>
					，鲫鱼还是一种重要的观赏性鱼类，美丽多姿的金鱼就是由鲫鱼演变而来。鲫鱼在我国养殖历史悠久。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/jiyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲫鱼</strong>在全国各地（除西部高原）广泛分布，栖息在湖泊、江河、河渠、沼泽中，尤以水草茂盛的浅水湖和池塘较多。
					<br><br> <strong style="font-size: 18px;">鲫鱼</strong>体侧扁而高，体型较小，背部暗淡，腹部发白色浅，不过也因鱼产地的不同体色呈现出差异，但多呈黑色并带有金属光泽。嘴上无须，鱼鳞较小。体色主要是灰色，如灰黑色的体背，银灰色的体腹和灰白色的鳍条。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲫鱼</strong>
					
					的食疗作用古来已有总结，具有益气健脾、利尿消肿、通络下乳等功效，尤其是活鲫鱼氽汤在通乳方面有其他药物不可比拟的作用，体质虚弱者常吃有益身体健康。
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/jiyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>葱烤鲫鱼</h5>
                            <span class="enlis">Grilled catfish with shallots</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲫鱼一条
                                <br>
                                辅料：葱段（160克）、黄酒（45克）、白糖（32.5克）、糖色（少许）、酱油（45克）、醋（8.5克）、味精（少许）、麻油（6克）、清汤（275克）
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将鲫鱼去鳞及内脏、鳃，洗净，两面划斜刀，放在用酱油、酒调和的料内腌一下。<br>
                                2．开猪油锅，将鲫鱼放入锅内，两面煎黄，取出，滤去油。<br>
                                3．将葱切成1寸长，下锅炒香，随即将鲫鱼放在葱的上面，加上酒、酱油、糖、糖色、味精和清汤，盖好锅盖，用小温火烤约二十分钟，鱼已入味，即可取出，放在盘中。<br>
                                4．再起旺火，将锅内的汤汁收浓,浇上麻油和醋,一起倒在鲫鱼上面即好。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清炖鲤鱼</h5>
                            <span class="enlis">Stewed carp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲤鱼一条
								<br>
								辅料：清水豆腐250克、花生油，料酒、盐少许。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将鱼宰杀，去鳞除鳃，取出内脏洗净；
								<br>
								2．豆腐切块，尽量厚而且大；
								<br>
								3．铁锅入油，烧热。把已经洗净、沥干水份的鲤鱼放入锅中，两面煎黄；
								<br>
								4．鲤鱼煎好后，倒入清水，水离锅边大概5厘米处即可；
								<br>
                                5. 大火至锅开，放入准备好的豆腐块儿，加笋片、火腿片、精盐、味精、葱、姜、酒，入锅清炖至熟，淋上猪油少许即成。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎鲫鱼</h5>
                            <span class="enlis">Pan-fried catfish</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲫鱼一条
                                <br>
                                辅料：甜豆50克，青、红、黄椒各1只(切片状)，藕条50克，干葱或洋葱25克，鸡蛋1只，干淀 粉、未炒过的黑白芝麻、柠檬汁、盐、胡椒粉、蜂蜜、鱼露等适量。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．鲫鱼切成大小均匀的块状，用胡椒粉、盐、柠檬汁、蜂蜜等腌5分钟，以去掉鲫鱼淡淡的海腥味；
                                <br>
                                2．鸡蛋打开，将腌好的鲫鱼的一面先粘上干淀粉，再粘上鸡蛋液，后粘上未炒过的黑白芝麻，待用；
                                <br>
                                3．电磁炉调中火，起锅，倒入适量橄榄油，当油冒起小泡，放入鲫鱼，先煎粘有黑白芝麻的一面20秒，待其定型后，再将另外两面煎至变金黄色约9成熟，然后离火，利用余温再煎几秒后上碟；
                                <br>
                                4．将甜豆、青红黄椒片、藕条炒熟后拌在煎好的鲫鱼边上即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu5.png" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>干炸鲫鱼</h5>
                            <span class="enlis">Dried fried catfish</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲫鱼一条
                                <br>
                                辅料：姜片、料酒、老抽、盐、鸡精、干淀粉。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将鲫鱼宰杀好用水洗干净，在两面鱼身分别划几刀。
                                <br>
                                2．用姜片，料酒，老抽，盐，鸡精将鱼腌制15分钟。
                                <br>
                                3．在腌制好的鱼身两面均匀的沾上干淀粉。
                                <br>
                                4．锅内放油，六成热时将鲫鱼放入炸至两面金黄即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/jiyu6.jpg" alt="">
                        </p>
                    </div>
                </div>

            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
