<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲤 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Cyprinus carpio</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲤鱼</strong>的蛋白质不但含量高，而且质量也很高，人体消化吸收率可达96%，并含有能供给人体必需的氨基酸、矿物质、维生素A和维生素D等人体所需元素。
                    鲤鱼的脂肪多为不饱和脂肪酸，能最大限度的降低胆固醇，可以防治动脉硬化、冠心病，因此，多吃鱼可以健康长寿。
                    鲤鱼肉每百克蛋白质17.6克，脂肪4.1克，维生素A25微克，核黄素0.09克，尼克酸2.7毫克，维生素总E1.27毫克，钾334毫克，镁33毫克，锌2.08毫克，硒15.38毫克。氨基酸含量完全。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/liyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲤鱼</strong>俗称鲤拐子、毛子等，隶属于鲤科。身体侧扁而腹部圆，口呈马蹄形，须2对。背鳍基部较长，背鳍和臀鳍均有一根粗壮带锯齿的硬棘。体侧金黄色，尾鳍下叶橙红色。
					<br><br> <strong style="font-size: 18px;">鲤鱼</strong>平时多栖息于江河、湖泊、水库、池沼的水草丛生的水体底层，以食底栖动物为主。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲤鱼</strong>味甘、性平，入脾、肾、肺经。
                    有补脾健胃、利水消肿、通乳、清热解毒、止嗽下气的作用。
                    对各种水肿、浮肿、腹胀、少尿、黄疸、乳汁不通皆有益。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/liyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鲤鱼</h5>
                            <span class="enlis">Braised carp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲤鱼一条
                                <br>
                                辅料：姜丝、蒜米、盐、料酒、醋、生抽、青红椒 、白果数颗。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．配料准备好就开始了，先打大火，在平底不粘锅中放入适量油，然后将鲤鱼放入锅中心煎。<br>
                                2．鱼两面煎得都差不多了，再往锅中倒入一碗水继续烧鱼，并放入料酒、生抽 姜丝和盐，然后盖上锅盖。<br>
                                3．鱼直接盛入盘中，然后将青红椒粒 白果洒入锅中的鱼汤中翻炒调味，再将勾芡均匀。<br>
                                4．最后倒入盘中即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/liyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清炖鲤鱼</h5>
                            <span class="enlis">Stewed carp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲤鱼一条
								<br>
								辅料：清水豆腐250克、花生油，料酒、盐少许。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将鱼宰杀，去鳞除鳃，取出内脏洗净；
								<br>
								2．豆腐切块，尽量厚而且大；
								<br>
								3．铁锅入油，烧热。把已经洗净、沥干水份的鲤鱼放入锅中，两面煎黄；
								<br>
								4．鲤鱼煎好后，倒入清水，水离锅边大概5厘米处即可；
								<br>
                                5. 大火至锅开，放入准备好的豆腐块儿，加笋片、火腿片、精盐、味精、葱、姜、酒，入锅清炖至熟，淋上猪油少许即成。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/liyu4.jpeg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>糖醋鲤鱼</h5>
                            <span class="enlis">Sweet and sour carp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲤鱼一条
                                <br>
                                辅料：白糖200克，酱油、料酒各10克，清汤300克，花生油1500克，葱、姜各2克，醋120克，蒜茸、精盐各3克，湿淀粉100克。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．鲤鱼去鳞、内脏、两腮，鱼身两侧每2.5厘米直剞后斜剞成翻刀，提起鱼尾使刀口张开，料酒、精盐撒入刀口稍腌；
                                <br>
                                2．清汤、酱油、料酒、醋、白糖、精盐、湿淀粉对成芡汁；
                                <br>
                                3．在刀口处撒上湿淀粉后，放在七成热的油中炸至外皮变硬，移微火浸炸3分钟，再上旺火炸至金黄色，捞出摆盘，用手将鱼捏松；
                                <br>
                                4．将葱、姜、蒜放入锅中炸出香味后倒入对好的芡汁，起泡时用炸鱼的沸油冲入汁内，加以略炒迅速烧到鱼上即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/liyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
