<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲶 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Silurus asotus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲶鱼</strong> 营养丰富，据测定，鲶鱼食用部分的每100克中，
					含有蛋白质14.4克，脂肪2.1克，水分64.1克，另外还含有糖类，钙、磷、铁等营养成分。鲶鱼的蛋白质中含有人体所必需的8种氯基酸，
					是一种完全蛋白质，很容易被人体消化吸收。鲶鱼的脂肪含量低，含有多种微量元素，所以它是一种良好的滋补食品。鱼肉嫩、易消化，骨刺少，特别适合年老体弱者和幼儿食用。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/nianyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲶鱼</strong> 又名胡子鱼。显著特征是周身无鳞、体表多黏液、头扁口阔、上下颌各有4根条胡须。体色通常呈黑褐色或灰黑色，略有暗云状斑块
					<br><br> <strong style="font-size: 18px;">鲶鱼</strong> 大多为热带淡水生物种，分布于全世界各种淡水区域。鲶鱼怕光，喜欢生活在江河近岸的石缝等地，在阴天和夜间活动频繁。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲶鱼</strong>味性温、味甘，归胃、膀胱经；
                    具有补气、滋阴、催乳、开胃、利小便之功效；
                    鲇鱼是催乳的佳品，并有滋阴养血、补中气、开胃、利尿的作用，是妇女产后食疗滋补的必选食物。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/nianyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清炖鲶鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲶鱼
                                <br>
                                辅料：猪肥瘦肉、大蒜、冬笋、盐、料酒、味精、胡椒粉、香油、高汤、香菜、葱段、姜片。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、鲶鱼去黏液切成块放入盆中加盐，料酒，胡椒粉打底味儿，猪肉切成小丁，冬笋切片飞水待用。<br>
                                2、炒锅上火，放适量油，烧至7成热是放鱼块炸只金黄色取出。<br>
                                3、原锅留底油，放猪肉煸炒出香，放大蒜，葱段，姜片继续煸炒。<br>
                                4、放高汤，烧开后放冬笋片和炸好的鲶鱼，加料酒，胡椒粉，盐，味精，转小火少至汤汁成谈黄色后放入汤锅内，上面撒香菜即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/nianyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>茄子炖鲶鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲇鱼400克
								<br>
								辅料：嫩茄子400克、猪五花肉50克，香菜10克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1. 茄子去蒂洗净去皮，用手撒成条，香菜切段，五花肉切片。<br>
                                2. 将鲇鱼收拾整理干净后，放入沸水中略烫，捞出放入凉水中浸凉，取出用筷子刮去表面粘液。大个鲇鱼改6-7厘米的段，小个整条即可。<br>
                                3. 勺内放少许油，放入茄条煸炒，变软倒入碗内备用。<br>
                                4. 勺内放汤、鲇鱼、肉片、茄条、葱丝、姜丝，烧开撇沫，加盐、料酒用小火炖20分钟左右，捡出五花肉，倒入碗内。<br>
                                5. 碗内加醋、味精、胡椒粉，点香油撒上香菜即好
                        </div>
                        <p>
                            <img src="../../images/detail/fish/nianyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧鲶鱼段</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲶鱼1000克
                                <br>
                                辅料：玉兰片40克 木耳（水发） 25克 猪肋条肉（五花肉）50克 淀粉(蚕豆)20克。调料：味精3克 黄酒8克 大蒜（白皮）20克 小葱15克 姜15克 辣椒（红、尖、干）5克 酱油15克 白砂糖5克 盐4克 醋2克 猪油（炼制）50克。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
								1、鲶鱼以唇部人字骨处拉出内脏，洗净，然后用净布蘸开水擦净身上粘液，剁去头尾，剁掉鳍，用立刀解成人字花纹；<br>
                                2、洗净的鲶鱼用精盐少许、黄酒、葱丝、姜丝浸渍片刻；<br>
                                3、将玉兰片浸发，洗净，片成大柳叶片；<br>
                                4、猪肋条肉（五花肉）切片；<br>
                                5、蒜去蒜衣切片；<br>
                                6、红辣椒切段，和去蒂洗净的木耳一起放在盘里；<br>
                                7、炒锅放旺火上，擦净，添入花生油，烧至六成热，鱼段上抖匀干淀粉，下锅煎制，两面都成柿黄色时出锅沥油；<br>
                                8、锅内留余油，旺火烧六成热，下入蒜片煸炒出香味，再下入五花肉片、玉兰片、木耳、红辣椒和精盐、黄酒、酱油、白糖、醋等原料，添入清汤250毫升，同烧；<br>
                                9、待烧至汤沸后，放入鱼段，小火烧至入味，出锅时放入味精即成。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/nianyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>大蒜焖鲶鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲶鱼
								<br>
								辅料：料酒，酱油，葱丝，姜片，花椒，大料，郫县豆瓣，泡辣椒，豆油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．鲶鱼身上有很多黏液，原来是黄色的，洗掉黏液后呈灰色的了
								<br>
								2．鲶鱼背部切开，为了炖时入味。这鱼特肥，我收拾出一小碗鱼油。这菜用独头蒜比较好，切了一些葱丝和姜片，还准备了一些花椒和大料
								<br>
								3．锅里加豆油，先把鱼油和大蒜放里面炸出香味
								<br>
								4．加入料酒、酱油,葱丝姜片，花椒大料还有郫县豆瓣和泡辣椒，添汤，待烧开后放入鲶鱼，炖半小时就可以出锅了
                        </div>
                        <p>
                            <img src="../../images/detail/fish/nianyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>鲶鱼豆腐汤</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲶鱼400克
								<br>
								辅料：豆腐400克、黄酒15克、盐、味精、葱、姜、胡椒粉。

								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将豆腐切成1厘米厚的薄片，用盐水渍5分钟，沥干待用。
								<br>
								2．鲶鱼去鳞和内脏，抹上黄酒，用盐腌制10分钟。
								<br>
								3．锅中放油加热，将鱼两面煎黄，加入葱、姜、适量水，大火煮10分钟转小火煲30分钟
								<br>
								4．然后加入豆腐，再煮5分钟左右，加盐和胡椒粉、鸡精调味，撒上葱花即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/nianyu7.jpg" alt="">
                        </p>
                    </div>
                </div>
                

            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
