<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">三 文 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Oncorhynchus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">三文鱼</strong>中含有丰富的不饱和脂肪酸，能有效降低血脂和血胆固醇，防治心血管疾病，每周两餐，就能将受心脏病攻击死亡的概率降低三分之一。
                    其体内还含有一种叫做虾青素的物质，是一种非常强力的抗氧化剂。其所含的Ω-3脂肪酸更是脑部、视网膜及神经系统所必不可少的物质，有增强脑功能、防止老年痴呆和预防视力减退的功效。
                    三文鱼能有效地预防诸如糖尿病等慢性疾病的发生、发展，具有很高的营养价值，享有“水中珍品”的美誉；老少皆宜，心血管疾病患者和脑力劳动者，适合患有消瘦、水肿、消化不良等症人群。
                    其被国际美食界誉为“冰海之皇”。研究表明，金枪鱼和三文鱼均肉质鲜美，营养丰富，并且富含EPA和DHA等生物活性物质。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/sanwenyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">三文鱼</strong>又名大马哈鱼、鲑鱼、撒蒙鱼。背鳍基短，鳍条少于16根；鳞细小，侧线鳞多于110枚；两颌、犁骨、腭骨及舌上都有牙，牙发达。有上前鳃盖骨。
					<br><br> <strong style="font-size: 18px;">三文鱼</strong>主要分布在大西洋与太平洋、北冰洋交界的水域。主要生产国有日本、俄罗斯、美国和加拿大。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">三文鱼</strong>
					
					性味甘平。归肾、肺经。可健脾胃、补虚劳、利水消肿、明目止痉、防治心血管疾病、老年疼呆、预防视力减退。适用于消瘦、水肿、消化不良、视力减退、抽搐痉挛等症。
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/sanwenyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸三文鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼
                                <br>
                                辅料：洋葱小个的半个左右、香菇1朵、姜丝少许、蒜末少许、海鲜酱油1小匙、白糖少许、香菜末少许。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、材料特简单，一块三文鱼，再准备些香菇、洋葱、姜、香菜、大蒜。把三文鱼切大块；洋葱切丝；香菇切片；香菜切段；蒜切末；姜切丝；<br>
                                2、取一个大盘，盘子不宜太浅，蒸鱼的时候会流出很多汤汁，在盘子上铺上一层洋葱丝，再铺一层香菇片，最后撒上一些姜丝；<br>
                                3、把三文鱼放在洋葱丝、香菇片还有姜丝上，上锅蒸约6-7分钟；<br>
                                4、取一个小碗，把刚刚蒸鱼流出来的汤汁倒进来，再放入切好的蒜末，点几滴海鲜酱油，加一点点白糖，拌匀然后淋在三文鱼上，撒少许香菜末就可以了，或者直接取鱼肉蘸着味汁食用。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>烟熏三文鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼
								<br>
								辅料：混合生菜、黑水榄、水瓜柳、吐司面包、辣根、柠檬汁、油醋汁
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1、将三文鱼片对折后卷拢成花朵状，置于盆中，挤上柠檬汁，旁边放上混合生菜；<br>
                                2、黑水榄横切成片，与水瓜柳一起放在盆内；<br>
                                3、吐司面包切成薄片，切去四边硬皮，改刀成三角形，放入烤箱，烘干后竖放于三文鱼上；<br>
                                4、用小茶匙舀少许辣根，放在三文鱼上，并在盆子外侧淋入少许油醋汁即可；
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>烤三文鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼	
                                <br>
                                辅料：芦笋2根，柠檬半个、盐1小匙、黑胡椒粒1大匙
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、三文鱼表面均匀涂上盐和黑胡椒，放入烤箱，200度，15-20分钟，烤至三文鱼表面焦黄即可；<br>
                                2、芦笋开水中焯一下，摆盘，根据个人口味，可以撒上少许柠檬汁
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>椒盐三文鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼
									<br>
									辅料：椒盐、芥未。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼买回来用椒盐腌约二十分钟左右。<br>
                                    2、煎之前用厨房纸巾吸干水分。<br>
                                    3、烧热锅倒入适量橄榄油，放入三文鱼中火煎。<br>
                                    4、煎香一面翻转煎另一面。<br>
                                    5、煎至两面金黄色均匀地撒少许椒盐粉然后盛起，配上芥未即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>蒜香三文鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼
									<br>
									辅料：蒜蓉、欧芹、黑胡椒粒
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1、三文鱼先用少许盐、胡椒粉腌约二十分钟待用。<br>
                                2、煎之前在鱼身涂一层薄薄的生粉，烧热锅倒入少许橄榄油将腌好的三文鱼放入。<br>
                                3、煎香一面翻转再煎另外一面。<br>
                                4、两面都煎好之后放入一大勺蒜蓉。<br>
                                5、调入少许生抽、白糖、胡椒粉以及少许清水。<br>
                                6、将切碎的欧芹加入。<br>
                                7、稍煮片刻之后撒上少许黑胡椒粒即可熄火上碟。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu7.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧三文鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼
									<br>
									辅料：胡萝卜、青豆、葱姜、八角、辣椒、麻椒、盐、白糖、生抽、胡椒粉、白酒、水淀粉、鸡精。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼切大块，胡萝卜切小丁。<br>
                                    2、三文鱼用盐、白酒、胡椒粉、腌渍15分钟。<br>
                                    3、锅中放少许油，烧制5成热放三文鱼两面煎熟取出待用。<br>
                                    4、锅留底油，煸香葱姜片、八角、麻椒、干辣椒煸出香味，放入三文鱼，烹入少许酒，加入胡萝卜丁炒少许，放入青豆，加少许水，放盐、生抽、鸡精调味小火入味，大火收汁，水淀粉勾芡出锅装盘即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu8.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>三文鱼刺身</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜三文鱼
									<br>
									辅料：白萝卜适量、绿芥末酱、酱油、黄瓜1段。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1.将白萝卜切成细丝摆入盘中一侧、黄瓜切成1厘米厚一块备用。<br>
                                    2.三文鱼柳切成4个厚片，放在冰块上，放入盘中。<br>
                                    3.再切一些薄片，摆成花形。<br>
                                    4.黄瓜放入盘中，把绿芥末酱做成锥形，放在黄瓜上，用牙签扎出一个个小洞，使之形似草莓。<br>
                                    5.吃时配一碟酱油，把绿芥末适量放入，蘸食。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu9.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎三文鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：三文鱼300克
									<br>
									辅料：甜豆50克，青、红、黄椒各1只（切片状），藕条50克，干葱或洋葱25克，鸡蛋1只，干淀粉、未炒过的黑白芝麻、柠檬汁、盐、胡椒粉、蜂蜜、鱼露等适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼切成大小均匀的块状，用胡椒粉、盐、柠檬汁、蜂蜜等腌5分钟，以去掉三文鱼淡淡的海腥味；<br>
                                    2、鸡蛋打开，将腌好的三文鱼的一面先粘上干淀粉，再粘上鸡蛋液，后粘上未炒过的黑白芝麻，待用；<br>
                                    3、电磁炉调中火，起锅，倒入适量橄榄油，当油冒起小泡，放入三文鱼，先煎粘有黑白芝麻的一面20秒，待其定型后，再将另外两面煎至变金黄色约9成熟，然后离火，利用余温再煎几秒后上碟；<br>
                                    4、将甜豆、青红黄椒片、藕条炒熟后拌在煎好的三文鱼边上即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/sanwenyu10.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
