<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">梭 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Barracuda</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">梭鱼</strong> 是近海鱼类，它的营养价值非常高，不仅富含蛋白质，还含有多种氨基酸和维生素以及人体所需的多种微量元素，
					同时它还含有癌症克星硒元素，每100g梭鱼含有硒16.8ug。它含有丰富的不饱和脂肪酸，能够促进我们的血液循环，所以对我们的心血管能起到一定的益处。还具有保护视力，止血，催乳的作用。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/suoyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">梭鱼 </strong>俗称海狼。体背青灰色，腹部白色。体侧上部有几条青灰色纵纹，还有许多斜横纹，底白色，各鳍浅灰色。
					<br><br> <strong style="font-size: 18px;">梭鱼 </strong>主要栖息在海口河川咸淡水交汇处，我国主要产于南海、东海、黄海和渤海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">梭鱼 </strong>味甘，性平，无毒。归胃、肺、脾经。益筋骨，益气力，温中下气，开胃，通利五脏。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/suoyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>豆腐梭鱼汤</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭鱼3条；豆腐1斤
                                <br>
                                辅料：香菜、生姜、大葱、盐、高汤精、胡椒粉、醪糟汁
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、梭鱼去鳞、鳃和内脏鸡腹内黑膜，清洗干净，切成段。<br>
                                2、起油锅，爆香葱、姜片。<br>
                                3、锅内加水、少量盐和鱼段，大火煮开，中火煮15分钟。<br>
                                4、豆腐切块，放入锅中煮5分钟。<br>
                                5、最后加入胡椒粉、高汤精、香菜段即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/suoyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>家常炖梭鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭鱼
								<br>
								辅料：生抽、老抽、陈醋、料酒、糖、盐、十三香粉、葱、姜、蒜。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
							1、用油和葱，姜，十三香粉爆锅，加清水适量；<br>
                            2、把鱼到入锅中；<br>
                            3、这时，下面的火开旺一点，往汤里加那些准备好的调料；<br>
                            4、大火炖煮吧。约十五到二十分钟，看鱼的大小决定。汤汁收的也差不多了，再加一些葱丝，姜丝和蒜粒；<br>
                            5、水淀粉勾芡，出锅。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/suoyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧梭鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭鱼
									<br>
									辅料：葱姜、料酒、酱油、盐
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1 梭鱼洗净<br>
                                    2 葱切葱花，姜切片。<br>
                                    3 锅里油热爆香葱姜，下入鱼煎一下，翻面煎一下。<br>
                                    4 加入水，料酒，酱油，盐，炖至鱼熟，汤汁快收干时加鸡精调味出锅撒上香菜或葱末。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/suoyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸梭鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭鱼
									<br>
									辅料：葱姜蒜，调料
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1.梭鱼两条，洗净备用。<br>
                                2.切成均匀的片，底部不要切断。<br>
                                3.用料酒、生抽、鱼露腌制一会。<br>
                                4.葱姜蒜切丝，撒在鱼身上。<br>
                                5.上屉蒸5分钟，关火后再闷3分即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/suoyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
