<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">踏 板 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Sole fish</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">踏板鱼</strong>
					即常说的龙利鱼，为海洋名贵经济鱼类之一，在我国各近海渔场均可捕获，其中海洋岛、石岛渔场为主要产地。踏板鱼肉质细味美，食之鲜肥而不腻，含有丰富的蛋白质、脂肪酸及多种微量元素和生理活性物质，是一种营养价值较高的海洋鱼类。
					踏板鱼的脂肪中含有不饱和脂肪酸，具有抗动脉粥样硬化的功效，对防治心脑血管疾病和增强记忆颇有益处。
					同时据营养测定，踏板鱼中的欧米加－3脂肪酸，可以抑制眼睛里的自由基，防止新血管的形成，降低晶体炎症的发生，这就是它又被称为“护眼鱼肉”的原因。所以它还特别适合整天面对电脑的上班族作为健康保健品。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/tabanyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">踏板鱼</strong>也叫龙利鱼、牛舌鱼，鳎目鱼、龙半滑舌鳎。体侧扁，呈舌状，一般体长25～40厘米、体重500～1500克。头部很短，眼小、两眼均在头的左侧。
					<br><br> <strong style="font-size: 18px;">踏板鱼</strong>分布于黑龙江、嫩江上游及支流、牡丹江、松花江支流、达贲湖、镜泊湖、五大连池、绥芬河、图门江、鸭绿江、浑河、汉江及支流、滦河上游及支流、潮白河水系、北京密云水库、秦岭地区水域、额尔齐斯河，国外见于俄罗斯东部、朝鲜、蒙古部分地区的河流中。

					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">踏板鱼</strong>
					具有如下食用功效：<br>
	                1.抗动脉硬化<br>2.防治心脑血管疾病<br>3.增强记忆<br>4.保护视力
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/tabanyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酥炸龙利鱼</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：龙利鱼700克
                                <br>
                                辅料：面粉200克、蛋液150克、面包糠400克、泰式甜辣酱、盐少许
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1、龙利鱼洗净。<br>
                                2、将其切成大小均匀的块状，撒适量盐调味。<br>
                                3、蘸上面粉。<br>
                                4、裹上一层全蛋液。<br>
                                5、再蘸上面包糠。<br>
                                6、依次将鱼块按上述方法制作完成，并放在无水无油的盘中。<br>
                                7、把鱼排放入微微起泡的油中炸成金黄色。<br>
                                8、沥干油后装盘，搭配泰式甜辣酱食用即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/tabanyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>番茄龙利鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：龙利鱼，番茄
								<br>
								辅料：金针菇、水发木耳、杏鲍菇、千页豆腐、鸡蛋、葱、姜、香菜、料酒
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将龙利鱼改刀，片成鱼片，不需要太薄
								<br>
								2．鱼片加姜片、料酒、盐腌制半小时，腌好之后将料酒倒掉，加入蛋清抓匀备用。
								<br>
								3．番茄加入热水浸泡，去皮，将去皮后的番茄切丁。
								<br>
								4．炒锅烧热，倒入食用油。油热后放入花椒爆香后将花椒捞出（不喜欢花椒味道的可以省略），爆香葱姜，倒入番茄，炒至糊状，加入热水。<br>
								5. 待番茄汤烧开后，滑入鱼片，稍煮片刻捞出。依次放入千页豆腐、杏鲍菇、金针菇、水发木耳，煮熟之后放入滑好的鱼片，加盐、胡椒粉调味即可。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/tabanyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>水煮龙利鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：500g龙利鱼
                                <br>
                                辅料：100g小油菜、
                                100g生菜、
                                20g香菜、
                                适量花椒、
                                适量干辣椒、
                                4个灯笼椒、
                                1勺郫县豆瓣酱、
                                1勺盐、
                                1勺白胡椒粉、
                                1勺淀粉、
                                适量葱段、
                                适量姜片、
                                适量蒜瓣、
                                适量料酒、
                                1勺辣椒粉、
                                1个鸡蛋清、
                                适量油

                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1.龙利鱼两条，洗净切薄片<br>
                                2.将鱼片用鸡蛋清、料酒、淀粉、姜片和一小勺盐腌制20分钟左右<br>
                                3.生菜洗净，小油菜洗净焯水，放入盆中备用<br>
                                4.炒锅内倒入适量油烧热，放入适量花椒和干辣椒段爆香，再放入剩下的姜片、蒜瓣炒香<br>
                                5.然后放入郫县豆瓣酱翻炒均匀<br>
                                6.锅中倒入2碗水，大火烧开。<br>
                                7.水开后，把鱼片放入锅中，煮两分钟左右（打卷即可）。<br>
                                8.放入葱段，关火出锅，倒入装有生菜和油菜的盆中，表面散少许辣椒粉。<br>
                                9.把炒锅洗干净然后倒入较多油烧热，放入最后一部分花椒粒和灯笼椒爆香。<br>
                                10.将烧好的油倒在鱼片上，点缀香菜即可食用。
                        </div>
                        <p>
                            <img src="../../images/detail/fish/tabanyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧踏板鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料： 踏板鱼。
									<br>
									辅料：盐，糖，黄酒，生抽，老抽，米醋，蒸鱼豉油，葱，姜，蒜，香菜。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、我用的是踏板鱼的中间部位。鱼解冻，洗干净。葱姜切好备用。香菜和蒜洗干净。<br>
                                　　2、把鱼放入锅中，两面煎到微黄，盛出。<br>
                                　　3、锅内放少许油，放入葱姜和干辣椒。<br>
                                　　4、然后放入糖，黄酒，生抽，老抽，米醋和蒸鱼豉油。<br>
                                　　5、加入适量水，放入踏板鱼，水开后放入几瓣蒜，中小火炖半小时。<br>
                                    6、到汤汁快要收干的时候放入少许盐和香菜，即可出锅
                        </div>
                        <p>
                            <img src="../../images/detail/fish/tabanyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香煎踏板鱼</h5>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：踏板鱼五条
								<br>
								辅料：花椒粉，生姜粉，葱花水，白酒，盐，鸡精
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1.踏板鱼洗净，用手撕去颜色较深那一面的皮，较浅的一面刮去鳞片，去掉腮和肠胃，再用清水漂洗干净。<br>
                                2.撒入少许花椒粉，生姜粉，葱花水，白酒一滴，适量盐，鸡精腌制两个小时。<br>
                                3.控干踏板鱼的水分，不粘锅加少许油烧热，下入踏板鱼，不要翻动，煎至底面焦黄翻面，两面均煎金黄即可。<br>
                        </div>
                        <p>
                            <img src="../../images/detail/fish/tabanyu7.jpg" alt="">
                        </p>
                    </div>
                </div>
                

            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
