<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">白 蛤</h3>
			<div class="about-top">
				<h3 class="subheading">Mactra veneriformis</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">白蛤</strong>，肉细味美、营养丰富。每百克鲜肉中含蛋白质10.8克、脂肪1.16克、碳水化合物4.6克、钙37毫克、磷82毫克、铁14.2毫克、维生素A400国际单位、
					硫胺素0.03毫克、梳黄素0.15毫克、烟酸1.7毫克。100克干品中含碘240微克。蛋白质中含9种人体必需氨基酸且比例适中，属完全蛋白质。脂肪中含脑黄金主要成份DHA（二十二碳烯酸）3.3%，EPA（二十碳五烯酸）5.5%。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/baige.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">白蛤</strong>，白蛤学名为四角蛤蜊。贝壳坚厚，略成四角形。两壳极膨胀。
					<br><br> <strong style="font-size: 18px;">白蛤</strong>是我国沿海常见的底栖经济贝类。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">白蛤</strong> 肉性味咸寒，有滋阴、利水、化痰、软坚功能，可用于水肿、痰积、癖块、癖瘤、崩漏、痔疮等。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/baige2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>爆炒白蛤</h5>
                            <span class="enlis">Stir-fried clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：白蛤
                                <br>
                                辅料：料酒，姜丝，葱段，花椒，老抽
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．白蛤洗净。炒锅热油，下花椒，姜蒜片爆香。<br>
                                2．倒入白蛤和料酒（多一点，去腥）大火翻炒，后加入葱段及老抽。<br>
                                3．炒至所有的蛤蜊都张开壳，撒少许鸡精，即可出锅装盘。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/baige5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白蛤蒸蛋</h5>
                            <span class="enlis">Steamed Egg with Clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：白蛤300克
								<br>
								辅料：鸡蛋200克，大葱3克，盐10克，味精5克，黄 　酒5克，色拉油15克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．白蛤泡于盐水中，吐沙后洗净，放入盘中。
								<br>
								2．覆上微波薄膜，高火2.5分钟，取出，倒出白蛤汤汁备用。
								<br>
								3．鸡蛋打散，加入精盐10克、味精、绍酒各5克、色拉油15克、温高汤2杯和花蛤汤汁搅拌均匀后，取滤网过滤于深碗中，覆上微波薄膜，中火4分钟。
								<br>
								4．取出，白蛤排于上面，覆上微波薄膜，中火6分钟。
								<br>
								5. 取出，撒上葱花即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/baige3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白蛤豆腐汤</h5>
                            <span class="enlis">Tofu Clam Soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：白蛤
									<br>
									辅料：豆腐半盒、姜片3片、葱花适量、盐少量


									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．提前将新鲜白蛤用淡盐水浸泡2小时，让其吐尽沙，洗净待用
									<br>
									2． 豆腐洗净切片
									<br>
									3．锅中放入足够清水（4－5碗）和姜片烧开
									<br>
									4．锅中放入豆腐煮开
									<br>
									5. 放入白蛤加盖大火煮至白蛤口张开<br>
									6. 关火加盐调味，放入葱花即可
                        </div>
                        <p>
                            <img src="../../images/detail/shell/baige4.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
