<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">蛏 子</h3>
			<div class="about-top">
				<h3 class="subheading">Razor fish</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">蛏肉</strong>味道鲜美,营养丰富,经测定,每百克鲜肉,
					含蛋白质7.2克,脂肪1.2克,碳水化合物2.4克,糖3克,钙133毫克,磷114毫克,铁227毫克,热量200千焦。蛏子还有一定的医药作用,具有补虚的功能。
					 蛏子富含碘和硒,它是甲状腺功能亢进病人、孕妇、老年人良好的保健食品,蛏子含有锌和锰,常食蛏子有益于脑的营养补充,有健脑益智的作用。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/chengzi.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">蛏子</strong>为海产贝类，有缢蛏、竹蛏等种类。介壳两扇，形状狭而长，外面蛋黄色，里面白色，生活在近岸的海水里。
					<br><br> <strong style="font-size: 18px;">蛏子</strong>在软泥滩上挖穴生活，潜伏的深度随季节而不同：夏季温暖，潜伏较浅；冬季寒冷，潜伏较深。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">蛏子</strong>
					味甘、咸，性微寒。能滋阴清热，催乳，利尿。蛏肉能补虚催乳。黄酒拌蒸可使其性转为微温，并能行血脉而通乳汁。用于产后虚损，乳汁不足等。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/chengzi2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>盐焗蛏子</h5>
                            <span class="enlis">Salt Razor fish</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：蛏子
                                <br>
                                辅料：香叶、八角、花椒、腌制盐
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．蛏子用小刀在后背划开，水份会流出。静置10分钟让其沥干水份。<br>
                                2．锅中倒入粗盐铺平，中火炒至发烫，放入花椒、香叶、八角，炒出香味。<br>
                                3．把沥干水份的蛏子，开口朝下，背部朝上，排入锅中。盖上盖子，关火，利用锅中盐的余温焖10分钟左右即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/chengzi3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>辣炒蛏子</h5>
                            <span class="enlis">Spicy fried Razor fish</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：蛏子500克
								<br>
								辅料：大蒜2瓣（切末）、姜片2篇、干辣椒3只（去籽切段）、胡椒少许、青红椒丝少许、盐适量、油3大匙
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．蛏子买回来后用盐水泡2小时，目的是让蛏子们吐沙子。
								<br>
								2．准备配料：葱、姜、蒜、红辣椒丝
								<br>
								3．热锅热油，先爆香辣椒姜蒜，再炒蛏子，加入少许料酒去腥提味，再加一点蒸鱼豉油。
								<br>
								4．大火炒制几分钟的样子，蛏子的壳都张开了，这就熟了。
								<br>
								5. 出锅前加入葱丝翻炒几下（加了豉油不放盐了，海鲜味道要淡点突出鲜味），辣炒蛏子就做成啦；<br>
                        </div>
                        <p>
                            <img src="../../images/detail/shell/chengzi4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>洋葱炒蛏子</h5>
                            <span class="enlis">Fried Razor fish with onion</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：蛏子
									<br>
									辅料：洋葱，青椒，料酒，老抽，葱姜，糖，水淀粉，盐，鸡精
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．蛏子泡半天洗净去泥沙。
									<br>
									2．放入沸水中氽熟，洋葱和青椒切块。
									<br>
									3．锅热油爆香葱姜，放入洋葱青椒翻炒，倒料酒、老抽、盐、糖、鸡精。
									<br>
									4．倒入蛏子，出水后用水淀粉勾芡。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/chengzi5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸蛏子</h5>
                            <span class="enlis">Steamed Razor fish</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：蛏子400克（带壳）
									<br>
									辅料：姜、葱、蒜、红椒、料酒、蒸鱼豉油、油


									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．新鲜的蛏子买回来放清水中，滴几滴香油，让其吐尽泥沙，去掉泥沙的蛏子反复搓洗，把外壳清洗干净沥干备用
									<br>
									2． 姜、红椒切长丝、葱白切段、葱叶切花、大蒜拍破后切成末
									<br>
									3．盘子底放适量姜丝的葱白段，然后放上洗干净的蛏子，再把剩下的姜丝和葱段摆在蛏子上
									<br>
									4．放少许料酒，大火蒸五分钟左右
									<br>
									5. 蒸好后，用筷子拣去软烂的葱姜，然后淋上蒸鱼豉油
									<br>
									6. 摆上红椒丝和蒜末、撒上葱花，淋上响油即可
                        </div>
                        <p>
                            <img src="../../images/detail/shell/chengzi6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
