<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">赤 贝</h3>
			<div class="about-top">
				<h3 class="subheading">Scapharca broughtonii</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">赤贝</strong>中，含一种具有降低血清胆固醇作用的代尔太7-胆固醇和 24-亚甲基胆固醇，它们兼有抑制胆固醇在肝脏合成和加速排泄胆固醇的独特作用，从而使体内胆固醇下降；它们的功效比常用的降胆固醇的药物谷固醇更强。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/chibei.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">赤贝</strong>，又名魁蚶，贝壳大而坚厚，左右两壳相等，呈斜卵圆形，极膨胀。肉味鲜美，富含营养，宜鲜食。
					
					<br><br> <strong style="font-size: 18px;">赤贝</strong>主要分布在中国、日本及朝鲜沿海，生活在20～35m水深的软泥或泥沙质海底。足丝强韧，多附着在石砾或死贝壳上。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">赤贝</strong> 味甘、咸，性微温，有滋阴养血、补肾调中的功效，主治消渴、肾虚尿频、食欲不振等</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/chibei2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>赤贝刺身</h5>
                            <span class="enlis">Sashimi</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：赤贝
                                <br>
                                辅料：盐酱、油 1汤勺、
                                辣根
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．新鲜赤贝两只，加壳正好500g，放在水池里用牙刷把外壳刷干净。<br>
                                2．趁着张嘴的时候菜刀进去割断筋膜，用手掰开外壳，把赤贝肉切开，摘除里面的筋膜，血块，黑线，手掌倒入一勺食盐，搓洗里外，洗去赤贝肉上的粘液<br>
                                3．再用纯净水或者凉开水洗干净赤贝肉，切片备用<br>
                                4. 赤贝壳用大量清水洗干净，把洗净切好的赤贝肉装进壳里，小碗倒入李锦记薄盐酱油，挤入一条辣根，即可摆盘食用了
                        </div>
                        <p>
                            <img src="../../images/detail/shell/chibei4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>辣炒赤贝</h5>
                            <span class="enlis">Spicy Clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：赤贝	
								<br>
								辅料：姜	少许、
                                蒜	两瓣、
                                辣椒	1个、

                                盐	少许、
                                料酒	少许、
                                油	少许
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．赤贝去壳去内脏冲洗干净，用厨房用纸吸干多余水份，切片备用。
								<br>
								2．蒜拍扁，姜切丝。
								<br>
								3．辣椒过油。
								<br>
								4．锅中放少许油，放入姜丝和蒜炝锅。然后放入赤贝，翻炒1分钟即可。
								<br>
								5.加入辣椒，盐即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/chibei3.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
