<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">海 瓜 子</h3>
			<div class="about-top">
				<h3 class="subheading">Musculus senhousei</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">海瓜子</strong>味道鲜美，有较高的营养价值。
					其壳甚薄，体表有粘液，含有丰富的蛋白质、铁、钙等多种营养成份，含有多种营养元素，是一种营养价值高的大众化海产品。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/haiguazi.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海瓜子</strong>，学名寻氏肌蛤，是一种浅色的小蛤蜊，贝壳小，略呈三角形，壳长17-24mm，壳高约为9-12mm，壳高略大于壳宽6-8mm。壳薄而透明。
					<br><br> <strong style="font-size: 18px;">海瓜子</strong>生活于盐度较高的外湾或岛屿的滩涂中，群聚生活。分布于太平洋东西两岸。广泛分布于中国南北沿海的滩涂上。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海瓜子</strong>
					具有调节血脂、预防心脑血管疾病、平咳喘等功能。
					<br><br><br><br>
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/haiguazi2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>塔香海瓜子</h5>
                            <span class="enlis"></span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海瓜子
                                <br>
                                辅料：九层塔、 红椒1条 、蒜末1大匙、 酱油膏2大匙、 乌醋2大匙、 糖1大匙、 香油1大匙、 太白粉水1大匙
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．海瓜子吐沙洗净；九层塔洗净；红椒切片，备用。<br>
                                2．取锅烧热后，放入1大匙沙拉油，再放入作法1的红椒片，与蒜末一同爆香。<br>
                                3．於作法2放入作法1洗净的海瓜子，以中火略炒。<br>
                                4. 於作法3加入酱油膏、乌醋、糖与香油，盖上锅盖焖煮。<br>
                                5. 作法4的海瓜子张开后，放入作法1洗净的九层塔后，转大火续炒。<br>
                                6. 作法5九层塔炒至塌陷后，加入太白水勾芡即成。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/haiguazi3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>辣炒海瓜子</h5>
                            <span class="enlis">Spicy Fried Clams</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海瓜子500克
								<br>
								辅料：芹菜20克、生姜1小块、干辣椒6个、食用油50克、酱油2小匙、料酒2小匙、精盐1小匙、白糖1小匙、味精1/2小匙。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．海瓜子泡水、吐沙，洗净；芹菜洗净，切丁；姜、辣椒洗净，切末。
								<br>
								2．锅内倒油烧热，爆香姜及干辣椒，放入海瓜子，大火拌炒至海瓜子开口，先加入酱油、料酒、盐、糖炒匀，待汤汁稍微收干，放入味精拌匀即可盛盘。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/haiguazi4.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
