<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">花 蛤</h3>
			<div class="about-top">
				<h3 class="subheading">Ruditapes philippinarum</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">花蛤</strong>肉味鲜美、营养丰富，蛋白质含量高，氨基酸的种类组成及配比合理； 
					脂肪含量低，不饱和脂肪酸较高，易被人体消化吸收，还有各种维生素和药用成分。含钙、镁、铁、锌等多种人体必需的微量元素，可作为人类的营养、绿色食品，
					深受消费者的青睐。蛤肉以及贝类软体动物中，含一种具有降低血清胆固醇作用的代尔太7-胆固醇和24-亚甲基胆固醇，它们兼有抑制胆固醇在肝脏合成和加
					速排泄胆固醇的独特作用，从而使体内胆固醇下降。它们的功效比常用的降胆固醇的药物谷固醇更强。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/huage.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">花蛤</strong>，学名菲律宾帘蛤，通常又称杂色蛤、菲律宾蛤仔、蚬子或蛤蜊。
					颜色和花纹差异很大，有白色、黄色或浅褐色，有时带有放射线、条纹、大斑点或深褐色锯齿花纹，较光滑；壳内侧光滑，为白色，略呈橙色，有时壳顶下部多为紫色。
					<br><br> <strong style="font-size: 18px;">花蛤</strong>广泛分布在中国南北海区，是中国四大养殖贝类之一。它是西太平洋亚热带到低寒温带的一个品种，并分布在欧洲的温带地区。
					野生种群在菲律宾、中国南海和东海、黄海、日本海、鄂霍茨克海以及南千岛群岛周围。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">蛤肉</strong>有滋阴明目、软坚、化痰之功效，有的贝类还有益精润脏的作用。所有人都可以吃。高胆固醇、高血脂体质的人以及患有甲状腺肿大、支气管炎、胃病等疾病的人尤为适合。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/huage2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>爆炒花蛤</h5>
                            <span class="enlis">Stir-fried clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：花蛤
                                <br>
                                辅料：料酒，姜丝，葱段，花椒，老抽
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．花蛤洗净。炒锅热油，下花椒，姜蒜片爆香。<br>
                                2．倒入花蛤和料酒（多一点，去腥）大火翻炒，后加入葱段及老抽。<br>
                                3．炒至所有的蛤蜊都张开壳，撒少许鸡精，即可出锅装盘。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/huage6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>花蛤蒸蛋</h5>
                            <span class="enlis">Steamed Egg with Clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：花蛤300克
								<br>
								辅料：鸡蛋200克，大葱3克，盐10克，味精5克，黄 　酒5克，色拉油15克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．花蛤泡于盐水中，吐沙后洗净，放入盘中。
								<br>
								2．覆上微波薄膜，高火2.5分钟，取出，倒出花蛤汤汁备用。
								<br>
								3．鸡蛋打散，加入精盐10克、味精、绍酒各5克、色拉油15克、温高汤2杯和花蛤汤汁搅拌均匀后，取滤网过滤于深碗中，覆上微波薄膜，中火4分钟。
								<br>
								4．取出，花蛤排于上面，覆上微波薄膜，中火6分钟。
								<br>
								5. 取出，撒上葱花即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/huage5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>剁椒花蛤</h5>
                            <span class="enlis">Spicy Fried Clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：花蛤
									<br>
									辅料：剁椒、姜末、葱花、料酒、盐、酱油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将吐完泥沙的花蛤用清水洗净，捞出备用。
									<br>
									2．烧锅倒油烧热，下入姜末爆香。
									<br>
									3．接着，下入花蛤，加点料酒翻炒一下。
									<br>
									4．然后，加点盐、酱油调味，合入剁椒翻炒至花蛤开口。
									<br>
									5. 最后，下入一些葱花，即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/huage4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>海鲜蛤蜊汤</h5>
                            <span class="enlis">Seafood Clam Soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：菠菜 100克 白萝卜 100克 白菜 100克 蛤蜊 100克
									<br>
									辅料：胡萝卜 50克 香菇（鲜） 30克 鸡胸脯肉 30克 墨鱼 10克 牡蛎 25克


									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．菠菜、白菜洗净后煮熟，冷却；白萝卜洗净后切块；胡萝卜洗净后切长条；
									<br>
									2． 蛤蜊、牡蛎洗净，去沙；
									<br>
									3．将菠菜和胡萝卜放在白菜上卷起，并横切成段；
									<br>
									4．汤锅放入鸡汤、白萝卜、香菇、墨鱼丝熬煮；
									<br>
									5. 待食材酥烂后放入鸡胸肉、蛤蜊、牡蛎及蔬菜卷，略煮片刻加盐调味即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/huage3.jpg" alt="">
                        </p>
                    </div>
                </div>




            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
