<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">牡 蛎</h3>
			<div class="about-top">
				<h3 class="subheading">ostrea gigas tnunb</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">牡蛎</strong>具有富含牛磺酸(50µmol/g)、锌、硒的特点；
					低脂肪、低胆固醇，含有一定量的高度不饱和脂肪酸(EPA+DHA占脂肪总量的20.4%)，无机盐、维生素含量也很丰富。
					牡蛎肉中含大量糖原，糖原是细胞进行新陈代谢的能源，补充糖原可改善机体心脏及血液循环功能，并能增进肝脏的功能且具有保肝作用。
                    牡蛎具有较高含量的牛磺酸。牛磺酸是一种含硫氨基酸，具有多种生理活性。其对婴儿的视网膜和中枢神经的正常发育具有重要的生理作用。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/muli2.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">牡蛎</strong>俗称海蛎子、蚝等,是世界上第一大养殖贝类。牡蛎的含锌量居人类食物之首。
					<br><br> <strong style="font-size: 18px;">牡蛎</strong>全球性分布。中国拥有丰富的牡蛎资源，目前，渤海、黄海、东海、南海均有牡蛎生产基地, 其主要产地为福建、广东、山东、广西、辽宁、浙江等。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">牡蛎</strong>
					具有“养血，补血，滋阴”之功效，
					还具有敛阴、潜阳、止汗、化痰、软坚的功用。主治惊痫、眩晕、自汗、盗汗、遗精、淋浊、崩漏、带下、瘿瘤等。根据文献报道，牡蛎尚有制酸、降压、抗癌、防衰老的作用。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/muli.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱爆生蚝</h5>
                            <span class="enlis">Stewed oysters in sauce</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：生蚝适量
                                <br>
                                辅料：葱蒜、辣椒少许、香茹肉酱
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将生蚝稍微飞一下水（如果你确认它是非常新鲜干净的话则洗干净、沥干备用即可）；<br>
                                2．热油锅、爆香姜葱蒜、辣椒，加入生蚝轻轻翻炒一下，下香茹肉酱，轻轻抛锅也好，翻炒也好，让生蚝吸收香茹肉酱，如果香茹肉酱不够咸的话，就加一点点盐调好味<br>
                                3．待生蚝收缩了就好了，最后下点麻油，上碟。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/muli7.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>鲜炒生蚝</h5>
                            <span class="enlis">Fresh Fried Oysters</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：生蚝若干
								<br>
								辅料：姜两三片、葱一两根、盐、生抽、蚝油、酒、香油。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．葱拍扁切段，分开葱白和葱叶，姜切片；
								<br>
								2．生蚝清洗后，烧开一锅水，放进水里烫几下，看到汤水变白，鼻子闻到海腥味，即可捞起，不用煮太久；
								<br>
								3．用厨房纸把焯过的蚝吸去水分
								<br>
								4．锅内放少许油，先把姜和葱白爆香；
								<br>
								5. 放入生蚝，小心翻炒；<br>
								6. 烹入少许水，加入酒、盐、生抽和一点蚝油炒匀；
								<br>
								7. 最后放入葱叶段即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/muli6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>蒜蓉烤生蚝</h5>
                            <span class="enlis">Grilled oysters with garlic</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：生蚝
									<br>
									辅料：大蒜、
                                    柠檬、
                                    黑胡椒、
                                    鸡粉、
                                    盐、
                                    料酒、
                                    香葱、
                                    红辣椒
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．生蚝外壳刷洗干净，用刀子从开口出用力撬开。
									<br>
									2．剜出生蚝肉略冲洗，放入碗中滴少许柠檬汁；大蒜剁成蓉待用。
									<br>
									3．蚝肉中加入少许盐、鸡粉、料酒、黑胡椒碎、蒜蓉拌匀，腌制5分钟入味。
									<br>
									4．将蚝壳冲洗干净待用，将腌制蚝的蚝肉添回蚝内，置于烤架上。
									<br>
									5. 烤箱预热190度、中层、10分钟进行烘烤，取出生蚝点缀香葱碎、辣椒即可享用。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/muli5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸生蚝</h5>
                            <span class="enlis">Steamed oysters</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：500g生蚝
									<br>
									辅料：适量油、
                                    适量小香葱、
                                    适量蒸鱼豉油、
                                    适量蒜蓉、
                                    适量蒜蓉剁辣椒


									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．把每个生蚝用洗菜的刷子清洗干净。
									<br>
									2． 把小香葱和蒜蓉剁碎。
									<br>
									3．锅置火上加入色拉油，油温3至4成热时放入小香葱碎和蒜蓉炸香。
									<br>
									4．然后加入适量的蒸鱼豉油（要少加），加入少量的料酒（要很少），盛出放小碗中待用。
									<br>
									5. 把清洗干净的生蚝放入准备好的笼屉中。大火蒸制5分钟即可。
									<br>
									6. 把每个生蚝的壳打开，逐个浇上料汁，撒上极少量的蒜蓉剁辣椒即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/muli4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>牡蛎豆腐汤</h5>
                            <span class="enlis">Oyster tofu soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：牡蛎(鲜)200克
									<br>
									辅料：豆腐200克，盐3克,味精2克,大葱10克,大蒜(白皮)5克,淀粉(豌豆)5克,花生油20克,虾油5克
								
								
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将牡蛎肉洗净，切成薄片。
									<br>
									2． 豆腐皮洗净切丁。
									<br>
									3．锅置火上，放入花生油烧热，下蒜片煸香，倒入虾油，加水烧开，加入豆腐丁、精盐烧开，加入牡蛎肉、葱丝，用湿淀粉勾稀芡，点入味精即成。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/muli3.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
