<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">扇 贝</h3>
			<div class="about-top">
				<h3 class="subheading">Pectinidae</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">扇贝</strong> 的蛋白质含量很高，干贝中高达55.6%。
					研究表明，贝类的必需氨基酸含量丰富且均衡，包括丙氨酸、苏氨酸、赖氨酸、组氨酸、精氨酸等人体内不能合成的氨基酸，并与陆上植物的必需氨基酸存在一定的互补性。
					其中呈鲜味的谷氨酸含量占7.15%，为水产品中含量最高的9。扇贝的脂肪和碳水化合物含量相对较低，干贝中含量分别为2.4%和15.1%。
					与其他动物性食品相比，扇贝是一种真正意义上低脂肪的食品。扇贝中n-3系列的多不饱和脂肪酸含量丰富，约占总脂肪酸含量的9%-45%。扇贝中矿物质和微量元素的含量因其品种及养殖海域的不同而有所差别，
					钙、磷、铁、钾、锰、锌、硒等含量丰富，并且扇贝中锌的含量较多。扇贝的维生素含量与鱼类近似，含有较丰富的维生素A、维生素B族、维生素E等。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/shanbei.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">扇贝</strong>，又称海扇蛤，贝壳多呈圆盘或圆扇形；壳顶前后方有耳，两耳相等或不等。扇贝柱的干制品称为“干贝”，为名贵海珍品。
					<br><br> <strong style="font-size: 18px;">扇贝</strong>全部为海产，广布于世界各大洋。除少数种类外，多栖息于低潮带至数百米左右的浅海，营附着或自由生活，主要以蜉蝣藻类为食。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">扇贝</strong>
					性寒，味咸，入肝、胆、肾经，有滋阴、补肾，明目、健脑,调中、下气，利五脏等功效，可治头晕目眩、咽干口渴、虚劳咳血、脾胃虚弱等症。扇贝还含有丰富的优质蛋白质，低脂肪，且含有对人体极为有益的欧米伽3脂肪酸，可降血脂、软化血管
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/shanbei2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清炒扇贝</h5>
                            <span class="enlis">Fried Scallops</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：扇贝肉
                                <br>
                                辅料：胡萝卜、
                                山药、
                                盐、
                                味精、
                                花生油、
                                葱
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．锅热，倒入适量花生油<br>
                                2．油三分热，扔葱花，葱花出香味儿，扔山药丁、胡萝卜丁、扇贝肉丁<br>
                                3．七分熟的时候放盐和味精，翻炒出锅即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/shanbei3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>蚝油扇贝</h5>
                            <span class="enlis">Oyster sauce scallop</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：活扇贝
								<br>
								辅料：蚝油、姜末、盐、料酒、花生油各适量。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将活扇贝泡入清水中，去除泥沙，再洗净
								<br>
								2．扇贝放入开水锅中氽熟，捞出去一侧盖壳，肉放壳内，排放盘中
								<br>
								3．炒锅注油烧热，放蚝油、姜末、盐、料酒及适量清水
								<br>
								4．烧开后调成蚝油汁，浇在扇贝肉上即成。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/shanbei4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>豆腐扇贝汤</h5>
                            <span class="enlis">Tofu Scallop Soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：扇贝肉
									<br>
									辅料：豆腐、葱姜、盐。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．豆腐焯水沥干切成小块，葱姜切片，扇贝切丝
									<br>
									2．锅里加油烧热，下葱姜煸香后倒入扇贝肉炒至出水，加开水大火烧开；	
									<br>
									3．倒入焯水后的豆腐，大火炖至汤白加盐，再炖10分钟就可以出锅了；
                        </div>
                        <p>
                            <img src="../../images/detail/shell/shanbei5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>蒜蓉粉丝蒸扇贝</h5>
                            <span class="enlis">Steamed Scallops with Garlic Vermicelli</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：扇贝
									<br>
									辅料：蒜蓉、生抽、粉丝


									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．蒜蓉炸变色，炸香。
									<br>
									2． 扇贝用牙刷刷洗干净，然后用刀子撬掉盖子。
									<br>
									3．细粉丝温水泡软。
									<br>
									4．扇贝摆在盘中，放上粉丝，炸好的蒜蓉。
									<br>
									5. 倒入生抽或者海鲜酱油，如蒸笼5、6分钟，即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/shanbei6.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
