<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">文 蛤</h3>
			<div class="about-top">
				<h3 class="subheading">Meretrix</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">文蛤</strong> 肉质鲜美，为蛤中之上品，享有“天下第一鲜”的盛名。
					文蛤营养丰富，含有蛋白质、脂肪、碳水化合物，还含有糖类、各种氨基酸、维生素及多种人体必需的矿物元素。文蛤的吃法多种多样，可煲汤、生煎、烩炒、烹制、酒醉、制酱、晒干，风味俱佳。
					
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/wenge.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">文蛤</strong>，又称为蛤蜊，地方名花蛤、黄蛤、海蛤。贝壳背缘略呈三角形，腹缘圆形，两壳相等，壳质坚厚，表面平滑细腻。
					<br><br> <strong style="font-size: 18px;">文蛤</strong>地理分布较广，是中国、朝鲜、日本常见的经济贝类。我国沿海自南至北都有文蛤的足迹，其中辽宁省的蛤蜊岗和江苏省沿海资源尤为丰富。有些海区形成最优势的种群，资源量很大。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">文蛤</strong>味甘、咸，性微寒。有清热利湿、化痰、散结的功效，对肝癌有明显的抑制作用，对哮喘、慢性气管炎、甲状腺肿大、淋巴结核等病也有明显疗效。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/wenge2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白酒蛤蜊</h5>
                            <span class="enlis">Clam with Liquor</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：蛤蜊3斤
                                <br>
                                辅料：洋葱1个（切碎），蒜2瓣（剁成蒜泥），香菜少许（剁碎），1杯干白葡萄酒，1勺黄油，胡椒粉少许，1/4杯奶油
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．蛤蜊放盐水中吐沙净身后，把蛤蜊洗干净。<br>
                                2．锅做热，把蛤蜊，洋葱，蒜，香菜，白葡萄酒，黄油，胡椒粉都放入锅中，盖紧锅盖直至蛤蜊全都开口。开口就要全捞出来，否则就煮老了。<br>
                                3．蛤蜊都捞出来放在盘中。锅中剩余的汤汁过滤，把汤汁重新放入锅中，倒入奶油，加热但不要给煮沸。当汤汁粘稠了就可以盛出来。倒在蛤蜊身上直接即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/wenge4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>文蛤蒸蛋</h5>
                            <span class="enlis">Steamed Egg with Clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：文蛤300克
								<br>
								辅料：鸡蛋200克，大葱3克，盐10克，味精5克，黄 　酒5克，色拉油15克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．文蛤泡于盐水中，吐沙后洗净，放入盘中。
								<br>
								2．覆上微波薄膜，高火2.5分钟，取出，倒出文蛤汤汁备用。
								<br>
								3．鸡蛋打散，加入精盐10克、味精、绍酒各5克、色拉油15克、温高汤2杯和花蛤汤汁搅拌均匀后，取滤网过滤于深碗中，覆上微波薄膜，中火4分钟。
								<br>
								4．取出，文蛤排于上面，覆上微波薄膜，中火6分钟。
								<br>
								5. 取出，撒上葱花即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/wenge3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香辣文蛤</h5>
                            <span class="enlis">Spicy Fried Clam</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：文蛤（蛤蛎）一斤
									<br>
									辅料：老干妈风味豆豉，姜，蒜，葱，干辣椒，花椒，胡椒粉，料酒，盐。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．文蛤用清水反复冲泡，让它吐尽泥沙（可以在泡文蛤的盆子里放一个铁器， 文蛤闻到铁的气味，就要“呕吐”，2-3小时吐净）。捞出沥干
									<br>
									2．老姜洗净切片，大蒜切片，葱切成节。
									<br>
									3．起净锅热油，油需要多一点，油6成热时，放入干辣椒和花椒炒出香味，放 蒜片姜片葱白节继续炒出香味，放适量老干妈豆豉，烹入少许料酒，开大火，放文蛤进去翻炒。加入适量白胡椒粉翻炒均匀。
									<br>
									4．待文蛤都受热张开，再放适量豆豉、盐和剩下的葱节翻炒均匀，勾薄芡，让 作料都裹在文蛤上，即可起锅。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/wenge5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>海鲜蛤蜊汤</h5>
                            <span class="enlis">Seafood Clam Soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：菠菜 100克 白萝卜 100克 白菜 100克 蛤蜊 100克
									<br>
									辅料：胡萝卜 50克 香菇（鲜） 30克 鸡胸脯肉 30克 墨鱼 10克 牡蛎 25克


									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．菠菜、白菜洗净后煮熟，冷却；白萝卜洗净后切块；胡萝卜洗净后切长条；
									<br>
									2． 蛤蜊、牡蛎洗净，去沙；
									<br>
									3．将菠菜和胡萝卜放在白菜上卷起，并横切成段；
									<br>
									4．汤锅放入鸡汤、白萝卜、香菇、墨鱼丝熬煮；
									<br>
									5. 待食材酥烂后放入鸡胸肉、蛤蜊、牡蛎及蔬菜卷，略煮片刻加盐调味即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/wenge6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
