<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">象 拔 蚌</h3>
			<div class="about-top">
				<h3 class="subheading">Panopea abrupta</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">象拔蚌</strong> 肉质鲜美，营养丰富，在餐饮业中属高档消费品。具有个体大、生长快、味道鲜美、经济价值高等优点。
					象拔蚌的出肉率高，达60%-70%左右，在贝类中是不常见的，其中主要食用部位为水管肌，占总食用量的30%-35%。每100克含热量81千卡、蛋白质14.4克、脂肪1.3克，具有很高的营养价值。
					象拔蚌内脏不能食用，因为象拔蚌内脏含有红潮毒素，可能引发食物中毒。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shell/xiangbabang.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">象拔蚌</strong>又名皇帝蚌、女神蛤。拔蚌是已知最大的钻穴双壳类动物，贝壳薄而脆，两壳小。一般而言分成泥蚌和沙蚌两种，在沙地成长的象拔蚌颈部较白，而在泥地成长的象拔蚌颈部颜色较深。食用以少杂质无异味的沙蚌为上品。
					<br><br> <strong style="font-size: 18px;">象拔蚌</strong>主要分布在美国、加拿大东海岸。原产美国和加拿大北太平洋沿海。以北美洲西岸所产最为肥美，加拿大温哥华为最大的象拔蚌集散地。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">象拔蚌</strong>
					的营养价值非常高，食疗效果极好，可以提高身体免疫力、降脂、补肾、利尿消肿。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shell/xiangbabang2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>象拔蚌煲咸泡饭</h5>
                            <span class="enlis">Geoduck risotto</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：象拔蚌肉300克
                                <br>
                                辅料：草菇,菜胆,香米各适量、高汤,盐,味精,黄酒,胡椒粉,色拉油各适量。
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．象拔蚌肉洗净，片成片，焯水至断生。<br>
                                2．草菇洗净剖开，焯水；菜胆焯水；香米蒸熟。<br>
                                3．原料下沙锅，加高汤等调料调味煲制。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/xiangbabang3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>象拔蚌北菇鸡汤</h5>
                            <span class="enlis">Geoduck stewed chicken soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：象拔蚌300克
								<br>
								辅料：嫩鸡项1只500克、北菇50克、红枣4枚、生姜1片。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．嫩鸡项洗净，放入滚水中滚5分钟，捞起洗净。
								<br>
								2．象拔蚌解冻，放入滚水中滚5分钟，取出洗净。
								<br>
								3．北菇用水浸透去蒂。红枣洗净去核。
								<br>
								4．将所有用料放入炖盅内，加入适量的水，隔水炖约4小时
								<br>
								5. 加入幼盐调味即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/xiangbabang4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>姜葱炒小象拔蚌</h5>
                            <span class="enlis">Fried geoduck with ginger and onions</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：象拔蚌
									<br>
									辅料：香葱	3条、
                                    姜	一片、
                                    鱼露	少许、
                                    酱油	少许
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．象拔蚌洗净切片
									<br>
									2．下热油，放葱白和姜
									<br>
									3．将象拔蚌片放进去翻炒
									<br>
									4．象拔蚌有一点点变白后下鱼露和酱油
									<br>
									5. 最后放葱叶即可
                        </div>
                        <p>
                            <img src="../../images/detail/shell/xiangbabang5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>象拔蚌刺身</h5>
                            <span class="enlis">Geoduck sashimi</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料： 象拔蚌1只
									<br>
									辅料：柠檬、草莓、荷兰芹、心里美萝卜各适量、绿芥末1只，生抽少许



									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．象拔蚌去壳，放入开水中略烫，去除表皮，用刀批成两片，去除污渍，放入过滤水中。
									<br>
									2．柠檬、草莓盘子伴边
									<br>
									3．将过滤水中批好的象拔蚌取出，批成薄片，依次码在盘子上
									<br>
									4．食用时与绿芥末、生抽同食。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/xiangbabang6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白灼象拔蚌</h5>
                            <span class="enlis">Boiled geoduck</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：象拔蚌1只。
									<br>
									辅料：豉油皇适量。
								
								
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．取象拔蚌1只，去壳取肉，批成片。
									<br>
									2． 锅内放半锅水，水煮沸时，投入批好的蚌肉片，立即捞出装盘，用豉油皇拌匀即可。
                        </div>
                        <p>
                            <img src="../../images/detail/shell/xiangbabang7.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
