<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">海 螺</h3>
			<div class="about-top">
				<h3 class="subheading">sea snail</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">螺肉</strong>含有丰富的维生素A、蛋白质、铁和钙等营养元素。同样富含人体必需的氨基酸和微量元素，是典型的高蛋白、低脂肪、高钙质的天然动物性食品。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/snail/hailuo.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海螺</strong>又名峨螺，凤螺，螺贝壳边缘轮廓略呈四方形，大而坚厚，壳高达10厘米左右，螺层6级。
					<br><br> <strong style="font-size: 18px;">海螺</strong>为暖海产种类，主要生活栖息在低潮线、水深1-30米的碎珊瑚底质的浅海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海螺</strong>味甘、性冷、无毒；
                    具有清热明目、利膈益胃的功效；
                    对心腹热痛，肺热肺燥，双目昏花等病症有一定的功效。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/snail/hailuo2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香辣海螺</h5>
                            <span class="enlis">Spicy Conch</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海螺肉300 克
                                <br>
                                辅料：香菜·1 棵、
                                生姜·1 小块、
                                干辣椒·8 个、
                                食用油·50 克、
                                酱油·2 小匙、
                                料酒·2 小匙、
                                白糖·2 小匙、
                                精盐·2 小匙
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．螺肉洗净；香菜洗净切末；姜洗净切丝；<br>
                                2．锅内放油烧热，爆香姜及干辣椒，加入螺肉大火快炒至熟，再加入酱油、料酒、糖、盐炒匀，最后加入香菜拌匀即可。<br>
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱汁海螺</h5>
                            <span class="enlis">Sauce conch</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海螺500克
								<br>
								辅料：酱油200克，味精15克，白糖20克，鸡粉15克，胡椒粉15克，高度白酒50克。酱料包八角10克，香叶5克，桂皮10克，葱1棵，姜1块。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将海螺放在清水中吐净泥沙，洗净外壳，然后放入蒸锅中蒸熟，捞出后冲凉备用。
								<br>
								2．坐锅点火加入清水，放入酱料包、味精、酱油、白糖、鸡粉、胡椒粉和白酒烧开，然后关火晾凉。
								<br>
                                3．将熟海螺放入晾凉的酱汁中，浸卤约2小时，捞出后浇上一些原汁，即可上桌食用。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>凉拌海螺</h5>
                            <span class="enlis">Cold conch</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：活海螺4只
									<br>
									辅料：香菜100克，姜末、醋、盐、香油各适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将海螺刷洗干净，放入开水锅中煮熟，取出螺肉，用原汤洗净，捞出切成片。
									<br>
									2．香菜洗净切成末。
									<br>
                                    3．将海螺片、香菜末放入碗内，加入盐、醋、香油和姜末，拌匀即成。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>水煮海螺</h5>
                            <span class="enlis">Boiled conch</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海螺
								<br>
								辅料：葱段，姜片，姜汁，白醋，芥末

								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．新鲜的海螺在海水中吐净泥沙。海螺刷洗干净，冷水下锅
								<br>
								2．洗好的海螺添加刚没过的水，放入葱段、姜片
								<br>
								3．大火煮开，水开后，大海螺煮10-15分钟，中小海螺煮3-5分钟。添加一点点盐，即可出锅。
								<br>
                                4．制作调味蘸汁：用新鲜的姜榨汁，然后根据个人口味加入白醋。
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo6.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
