<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">螺 蛳</h3>
			<div class="about-top">
				<h3 class="subheading">Margarya melanioides</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲜螺</strong>体中干物质5.2%，干物质中含粗蛋白55.36%，灰分15.42%，其中含钙5.22%，磷0.42%，
					盐分4.56%等。有赖氨酸2.84%，蛋氨酸和胱氨酸为2.33%。同时还含有较丰富的维生素B族和矿物质等营养物质。
					此外，螺蛳壳除含有少量蛋白质外，其矿物质含量高达88%左右,其中钙37%，磷0.3%，钠盐4%左右，同时还含有多种微量元素。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/snail/luosi.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">螺蛳</strong>有两种，一是螺蛳属动物的通称，中国特有，仅分布在云南。二是方形环棱螺的俗称。螺蛳的形状很像田螺，它也有一个右旋的螺形贝壳。不过它的贝壳表面不像田螺那样光滑
					<br><br> <strong style="font-size: 18px;">螺蛳</strong>常栖息于冬暖夏凉、底土柔软、饵料丰富的湖泊、池塘、水田和缓流的河溪中。它的最适生长水温在20~25℃左右
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">螺蛳</strong>味甘，性寒。归膀胱经。具有清热、利水、明目的功效。主治黄疸、水肿、淋浊、消渴、痢疾、目赤翳障、痔疮、肿毒。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/snail/luosi2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>螺蛳汤</h5>
                            <span class="enlis">Snail soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：带壳鲜螺蛳
                                <br>
                                辅料：香辣寥20克、
                                补芽20克、
                                嫩姜叶20克、
                                荆芥20克、
                                酸笋100克、
                                帕哈20克、
                                薄荷20克、
                                大葱40克、
                                香菜20克、
                                猪油200克、
                                青椒20克、
                                味精4克、
                                生姜20克、
                                胡椒粉4克、
                                花椒叶20克、
                                精盐10克、
                                大蒜10克、
                                卤腐汁15克
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．把螺蛳 用清水浸泡24小时，中间换水数次，以吐净泥沙.<br>
                                2．削去螺蛳的盖子，再往凸大部向尾部第一道线路凹处削一刀，切去尾部，取出螺蛳，反复搓洗，漂洗.<br>
                                3．配料均切成米粒状.<br>
                                4．炒勺上火，注入油，烧至七成热，下螺肉偏炒，至断生；加入清汤，生姜，大葱，大蒜，酸笋，煮10分钟，再下入其他配料同煮，加入卤腐汁，味精，胡椒，精盐，沸后起锅，撒上香菜，薄荷入碗即成.
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧螺蛳</h5>
                            <span class="enlis">Braised Snail</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：螺蛳
								<br>
								辅料：生姜、葱、料酒、酱油、白糖、鸡精。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．把螺蛳 用清水浸泡24小时，中间换水数次，以吐净泥沙.
								<br>
								2．旺火将适量食用油至八成热，放入干辣椒、切片生姜和葱段，反复煸几下；
								<br>
								3．倒入螺蛳，炒一分钟，加入料酒、酱油，再炒一分钟；
								<br>
								4．加入适量开水可覆盖所有螺蛳的量；盖锅煮，3--5分钟香味飘出，放小勺白糖收汁；
								<br>
                                5. 撒少量鸡精，十秒后盛盘。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香辣螺蛳</h5>
                            <span class="enlis">Spicy Snail</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：螺丝
									<br>
									辅料：干辣椒，生姜，葱，大蒜、料酒、油、盐、糖、酱油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．把螺丝放沸水中焯一下，然后捞起沥干待用。
									<br>
									2．生姜和大蒜切片（切丝也可以，个人喜好）葱切段，干辣椒剪碎，炒锅里油热七分，把这些辅料下锅煸出香味来；然后倒入沥干水份的螺丝，加入几勺料酒快速翻炒螺丝几下。
									<br>
                                    3．然后倒入清水以淹没螺丝为准，放盐，糖，加入一点点酱油。不要盖锅盖，就这样大火烧，一直到水分收干，留一点点汤就好。
                            </p>        
                        </div>
                        <p>
                            <img src="../../images/detail/snail/hailuo5.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
