<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">大 闸 蟹</h3>
			<div class="about-top">
				<h3 class="subheading">Eriocheir sinensis</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">大闸蟹</strong>
					被视为美味佳肴，是其特殊的营养成分所决定的，据分析测定，100克蟹肉中含维生素A高达5900国际单位，热量高达582千焦耳，
					为水产品之冠，脂肪、碳水化合物、核黄素的含量均远高于许多名特水产品。大闸蟹形态独特、肉味鲜美、营养丰富，是水产珍品，
					历来受中国民众喜爱。几千年来，大闸蟹的美食之篇不绝于世，古人有“不到庐山辜负目，不食螃蟹辜负腹”之说，每当“九九”重阳节之时，大闸蟹黄满膏腻，赏菊食蟹成为时尚。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/crab/dazhaxie.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">大闸蟹</strong>，学名中华绒螯蟹，又名河蟹、毛蟹、清水蟹，是中国传统的水产珍品。体型较大，头胸甲呈圆方形，边缘有细颗粒前半部窄于后半部，背面较隆起。
					<br><br> <strong style="font-size: 18px;">大闸蟹</strong>在中国分布很广，通海的江河基本都有分布，北自辽宁，南至福建沿海诸省通海河流中均有分布，尤其是长江中下游两岸湖泊、江河中都有它的踪迹；随着远洋运输业的发展，中华绒螯蟹随着大型船舶的压仓水也能漂洋过海，世界沿海诸国常可见到。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">大闸蟹</strong>
					可清热、散结、续伤、理脉、滋阴等；蟹壳还可清热解毒、破瘀消积。现代医学认为，大闸蟹中丰富的维生素A，是人体内不可缺少的营养成分，它能促进生长，延缓衰老，维持上皮组织健康，增强人体对传染病的抵抗力，还可防止夜盲症的发生。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/crab/dazhaxie2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香辣蟹</h5>
                            <span class="enlis">Spicy Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：大闸蟹
                                <br>
                                辅料：蒜瓣 3 个、老姜3 片、葱花 5 克、麻辣烫底料 、油各1 汤匙、干辣椒 5 个、生抽1 汤匙、白糖、盐 各1 茶匙、料酒、海鲜酱各2 茶匙
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．大闸蟹去除鳃白及毛边后洗净斩件。<br>
                                2．锅中放油，爆香蒜瓣、姜片、干辣椒。<br>
                                3．放麻辣烫底料，小火煸香，放入大闸蟹转大火炒2 分钟。<br>
                                4．后放生抽、海鲜酱炒匀。<br>
                                5. 放盐、白糖和料酒继续翻炒3 分钟左右，最后放葱花炒匀即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/dazhaxie3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>水煮大闸蟹</h5>
                            <span class="enlis">Boiled hairy crabs</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：大闸蟹
								<br>
								辅料：醋、姜、蒜
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将大闸蟹放到大的盛有清水的脸盆中，里面加入少量盐，迅速用盖盖上，压好，5分钟后一个一个取出用　清水把外表洗刷干净放入盛器中．前一过程是用盐水刺激大闸蟹吐出肚中脏物
								<br>
								2．锅中放入适量冷水(以放在锅中能淹没大闸蟹为准)，将大闸蟹肚皮朝上放入锅中，迅速盖好透明锅盖，压好锅盖，用大火煮，蟹慢慢死去，水开后，煮15分钟至蟹壳呈鲜红色，蟹肉成熟时，关火再闷3分钟，取出。
								<br>
                                3．姜末20克 蒜末10克 酱油30克、香醋50克 全部放入一个小碗中制成调料，供吃时取出蟹肉蘸了吃．
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/dazhaxie4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>咖喱大闸蟹</h5>
                            <span class="enlis">Curry hairy crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：大闸蟹
									<br>
									辅料：姜、葱段、料酒、咖喱酱、椰汁、糖；

									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将姜切片、葱切断待用；将大闸蟹洗净，剥壳待用；
									<br>
									2．锅内倒入油，热油备用；
									<br>
									3．姜片、葱段爆香后下螃蟹去翻炒；
									<br>
									4．加入料酒去腥，直至变色为红色；
									<br>
									5. 放入3勺咖喱酱，加入一盒椰汁、加些糖调味；
									<br>
                                    6. 翻炒均匀后，盖上锅盖焖5分钟即可；
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/dazhaxie5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>盐焗大闸蟹</h5>
                            <span class="enlis">Salted Hairy Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：大闸蟹
									<br>
									辅料：盐（能把大闸蟹覆盖即可）、香料
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．大闸蟹洗干净， 用刷子刷上些黄酒
									<br>
									2．炒锅烧热， 放大量的盐， 最好是粗盐，炒到盐热透
									<br>
									3．炒盐的同时， 烤箱预热 200 度 
									<br>
									4．放入些香料， 桂皮， 香叶， 八角等等 入炒热的盐中
									<br>
									5．将炒热的盐铺满烤盘后， 放入大闸蟹， 再在大闸蟹上铺满盐
									<br>
                                    6．200 度， 烤 15分钟。
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/dazhaxie6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸大闸蟹</h5>
                            <span class="enlis">Steamed Hairy Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：大闸蟹(2500克) 
									<br>
									辅料：香葱1棵、生姜1块 、酱油(150克)、 白砂糖(150克)、小葱(50克)、香醋(150克) 、姜(50克) 、香油(20克)。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将大闸蟹蟹身及蟹腿用刷子仔细刷干净；每只用草绳将蟹腿与蟹身绑在一起，放入蒸格内。
									<br>
									2．蒸锅加水置旺火上，烧开后放上蒸格，将大闸蟹隔水蒸15分钟左右，至蟹壳呈红色，蟹肉熟透，夹出后装盘。
									<br>
									3．在蒸蟹过程中，将淡色酱油放入小锅内，稍煮1分钟后倒入装有白糖，料酒，芝麻油的小碗里混匀。将醋倒入装有姜末的另一个小碗里混匀。
									<br>
                                    4．食用时随配上酱油碟和姜醋碟，边剥蟹肉边蘸酱油和姜醋调料吃。
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/dazhaxie7.jpg" alt="">
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
