<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">面 包 蟹</h3>
			<div class="about-top">
				<h3 class="subheading">Cancer sp.</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">面包蟹</strong>中含有丰富的蛋白质和微量元素，对人体有很好的滋补作用。蛋白质可补充能量、促进大脑发育和人体的生长；
                    钙、铁、锌等元素则是人体生理活动所必须的。面包蟹的蟹黄具有清热解毒的功效，而且还具有杀虫的作用，在药用方面可以用来主治脚癣等症，而蟹壳还有理气止痛的功效。
                    面包蟹还有抗结核作用，面包蟹对结核病的康复大有补益的。<br><br>
                    <strong style="font-size: 18px; color: #000000;">面包蟹</strong>体型较大，膏脂丰腴，肉质丰满，是非常好的烹调食材。同时它可以说是全世界最多膏的蟹种之一，号称“膏蟹之王”。因为其移动缓慢，活动范围极小，故能储满全身蟹膏。它的膏脂封满整个蟹盖，味道不浓，却有种独特香味。
                </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/crab/mianbaoxie.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">面包蟹</strong> 多指黄道蟹属或馒头蟹属的品种。面包蟹头胸甲为浅褐色；眼区具一半环状的赤褐色斑纹；螯脚腕节和长节外侧面具一赤褐色斑点；步脚尖端为褐色。
					<br><br> <strong style="font-size: 18px;">面包蟹</strong>栖息于水深30-100米的沙质或沙泥质海底。面包蟹主要地理分布于太平洋海域，在香港水域亦可发现。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">面包蟹</strong>
					性寒，味咸，具有舒筋益气、理胃消食、通经络、散诸热、清热、滋阴之功，可治疗跌打损伤、筋伤骨折、过敏性皮炎。此外，面包蟹对于高血压、动脉硬化、脑血栓、高血脂及各种癌症有较好的疗效。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/crab/mianbaoxie2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>椒盐面包蟹</h5>
                            <span class="enlis">Pretzel Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：面包蟹
                                <br>
                                辅料：洋葱	300g、
                                青椒	100g、
                                蒜头	4瓣、
                                淀粉	50g、
                                葱	2根、
                                椒盐	2勺
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．生姜切末。把蟹腿、蟹身，分离。蟹里面的腮去掉。<br>
                                2．用刀背把所有蟹腿拍一下，把蟹身用刀切开。注意保留蟹黄。<br>
                                3．蟹黄部分沾上淀粉，防止等下炸的时候散了。<br>
                                4．油锅七成热，下锅炸。颜色金黄就可以捞出来了。<br>
                                5. 炸过，油倒出来。直接下姜片，和蒜片，炒热。依次放入油炸好的蟹，洋葱片，和青椒片。<br>
                                6. 烧熟，放椒盐。然后就可以起锅，撒葱花。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/mianbaoxie3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>避风塘炒蟹</h5>
                            <span class="enlis">Fried crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：活面包蟹
								<br>
								辅料：面包屑 200克、豆豉 少许、盐 少许、干辣椒 5个、鲜红辣椒 5个、玉米淀粉 一小碗、小葱 2棵、植物油 半斤、蒜 一头
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．面包蟹选同样大小但比较重的，从刀从蟹壳接缝处深入，把刀立起来，蟹壳就打开了，撕去鳃，用松肉锤把蟹钳蟹腿敲裂，全部斩件，用鸡精抹匀入味。
								<br>
								2．蒜压成蒜泥，干辣椒红辣椒切碎备用，小葱切段。
								<br>
								3．开电炸锅或者油锅，温油，中火，将蟹块扑上干粉入油锅炸熟。
								<br>
								4．起炒锅，大约入100克油，温油，大火，入干辣椒炒香，再入蒜蓉炒黄，立即下面包糠，红辣椒，豆豉和盐炒匀，再入炸好的蟹块，大火炒至面包糠酥脆，放入小葱装饰，离火装盘。
							</p>	
                        </div>
                        <p>
                            <img src="../../images/detail/crab/mianbaoxie4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>糯米蒸蟹</h5>
                            <span class="enlis">Steamed Crab with Sticky Rice</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：面包蟹
									<br>
									辅料：100克糯米，少许香菇和冬笋，味精，生抽，蚝油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．把糯米蒸熟备用，蟹砍好放入盘中；
									<br>
									2．把糯米放入锅中炒香加入香菇，冬笋，生抽和蚝油，炒好放在摆好的蟹肉上面然后盖上蟹壳；
									<br>
                                    3．保鲜膜封好放入蒸笼内蒸二十五分钟即可。
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/mianbaoxie5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>泰式咖喱面包蟹</h5>
                            <span class="enlis">Thai Curry Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：面包蟹一只
									<br>
									辅料：泰式黄咖喱	一包、
                                    椰浆	200g、
                                    香茅	少许、
                                    黄洋葱	100g、
                                    葱姜蒜	若干、
                                    淀粉	少许
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．面包蟹自然解冻后用刷子刷洗干净，接着拆蟹，将蟹切开，蟹盖保持完整。
									<br>
									2．蟹股沾少许淀粉放在油里炸，蟹壳颜色变红后控油捞出。
									<br>
                                    3．锅里留少许油，入葱姜蒜煸香，再入洋葱煸炒，洋葱稍软后，加入面包蟹，略微翻炒后，加入咖喱，椰浆，香茅。待椰浆烧开后根据口味自行添加盐，糖等出锅。
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/mianbaoxie6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
