<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">石 蟹</h3>
			<div class="about-top">
				<h3 class="subheading">Tenuilapotamon</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">石蟹</strong>含有丰富的蛋白质，较少的脂肪和碳水化合物。其蟹黄中的胆固醇含量较高。还含有丰富的钙、磷、钾、钠、镁、硒等微量元素和维生素D。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/crab/shixie.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">石蟹</strong>，头胸甲隆起，表面密布绒毛，前侧齿基部附近的头胸甲表面具颗粒；胸甲后部有长短不等的颗粒隆脊；额具6齿，居中4齿大小相近，前缘钝；前侧缘具6齿，第一齿末端平钝，第二至四齿大小相近，末端尖锐，末齿刺形；后缘与后侧缘均具颗粒隆脊。螯脚粗壮，不等称。
					<br><br> <strong style="font-size: 18px;">石蟹</strong>生活在淡水中，通常生活于海拔600-1000米山溪上游的石块下。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">石蟹</strong>
					味咸，性寒。归肝、胆、肾经。有清热利湿，消肿解毒，明目的功效。通常用于湿热淋浊，带下，喉痹，痈肿，漆疮，青盲，目赤，翳膜遮睛。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/crab/shixie2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
    </div>
    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧石蟹</h5>
                            <span class="enlis">Braised Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：石蟹400g
                                <br>
                                辅料：油适量、盐适量、酱油适量、葱适量、料酒适量、糖适量、蒜适量、姜适量
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．石蟹洗净后，去盖子、脐和腮待用。<br>
                                2．葱姜蒜准备好。<br>
                                3．起油锅，炒石蟹。<br>
                                4．加葱姜蒜和料酒。<br>
                                5. 加调味盐、酱油和糖<br>
                                6. 最后加点水，继续炒熟即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/shixie3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸石蟹</h5>
                            <span class="enlis">Steamed Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：石蟹500g
								<br>
								辅料：油适量
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．新鲜蟹买回来，用刷子刷洗干净。
								<br>
								2．锅里烧开水
								<br>
                                3．放入鲜蟹蒸20分钟即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/shixie4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>爆炒石蟹</h5>
                            <span class="enlis">Stir-fried crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小石蟹
									<br>
									辅料：姜	一块、
                                    蒜头	五瓣、
                                    酱油	少许、
                                    红绿辣椒	四个、
                                    盐味精	少许
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．先将石蟹用洗干净后，放入烧开的热水中过一遍成红色小蟹。然后捞起切成对半，放置一边备用。
									<br>
									2．切好姜，葱，红绿小辣椒，蒜头。锅中入油加热放入切好的姜葱蒜头辣椒爆香。
									<br>
                                    3．放入切好的石蟹，大火爆炒至八分熟。加入生抽提鲜，再盖上锅盖焖两分钟，加少许盐及味精。乘入盘中即可。
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/shixie5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>油炸石蟹</h5>
                            <span class="enlis">Fried Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：小石蟹
									<br>
									辅料：生抽 两勺、	糖 适量、
                                    盐 适量	、面粉 100克、
                                    鸡蛋 一个	、料酒 四勺
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．小石蟹洗干净，用刀切两半，倒入料酒、生抽、糖、盐腌制15-20分
									<br>
									2．打入一个鸡蛋，放面粉搅拌均匀，小蟹挂上面糊
									<br>
                                    3．锅中热油，放入小石蟹，炸至金黄捞出控油即可。
                                </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/shixie6.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
