<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">梭 子 蟹</h3>
			<div class="about-top">
				<h3 class="subheading">Portunus trituberculatus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">梭子蟹</strong>肉质细嫩、洁白，富含蛋白质、脂肪及多种矿物质。梭子蟹在冬季徊游季节个体最为健壮，一般重250克左右，
					最大可达500克。雌蟹红膏满盖，口味极佳。梭子蟹可鲜食，或蒸、或煎、或炒，或一切两半炖豆瓣酱，或用蟹炒年糕、炒咸菜、煮豆腐，是沿海一带居民餐桌上的常菜。
					亦可腌食，就是将新鲜梭子蟹投入盐卤中浸泡，数日后即可食用，俗称“新风抢蟹’。过去，渔民因梭子蟹产量高，常挑选膏满活蟹，将黄剔入碗中，风吹日晒令其凝固，即成“蟹黄饼”，风味特佳，但产量少，一般人难尝此味。
	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/crab/suozixie.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">梭子蟹</strong>，有些地方俗称“白蟹”。因头胸甲呈梭子形，故名梭子蟹。甲壳的中央有三个突起，所以又称“三疣梭子蟹”。
					<br><br> <strong style="font-size: 18px;">梭子蟹</strong>分布于日本、朝鲜、马来群岛、红海以及中国大陆的绝大部分沿海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">梭子蟹</strong>
					性寒、味咸，归肝、胃经；有清热解毒、消结化瘀、利湿退黄、滋肝阴、充胃液之功效；主散诸热，治胃气，理筋脉，消食。梭子蟹含有精氨酸，能参与体内能量代谢和解毒工作，适量吃蟹可促进肌体能量平衡，对体内毒素起到很好的排泄作用。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/crab/suozixie2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
    </div>
    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸梭子蟹</h5>
                            <span class="enlis">Sweet and sour carp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭子蟹
                                <br>
                                辅料：生姜，香醋，糖
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．生姜切末。<br>
                                2．加香醋糖调成蘸料。<br>
                                3．把蟹刷洗干净。<br>
                                4．蒸锅水烧开以后，把蟹腹部朝上放入大火蒸15分钟。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/suozixie3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧梭子蟹</h5>
                            <span class="enlis">Braised Pike Crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭子蟹500克
                                <br>
                                辅料：生抽20ml、油、盐、白糖适量
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．梭子蟹放在盆里用清水冲洗干净并去鳃，然后用小牙刷将蟹脚刷干净，然后用刀将梭子蟹对半切开，把外壳掰出来<br>
                                2．起油锅，放入姜片和大蒜爆香<br>
                                3．下入梭子蟹，爆炒至蟹变红<br>
                                4．调入料酒、生抽和白糖至汤汁收干，再调入适量的盐，起锅装盘
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/suozixie2.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>梭子蟹炒年糕</h5>
                            <span class="enlis">Barley Crab Fried Rice Cake</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭子蟹
                                <br>
                                辅料：年糕、细香葱
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将梭子蟹收拾干净，去掉蟹盖等多余的东西，剁成几大块，蟹钳要用刀略拍几下<br>
                                2．年糕用水煮好，过冷水，备用<br>
                                3．起油锅，加姜丝翻炒，把蟹块放进去，翻炒几分钟，盛出<br>
                                4．再起油锅炒年糕，炒至表面微焦的时候，把螃蟹加进去，加料酒、白糖、生抽调味，一般不放盐，因为会掩盖梭子蟹的鲜味<br>
                                翻炒片刻后，加细香葱段兜匀即可
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/suozixie5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>葱油梭子蟹</h5>
                            <span class="enlis">Barley Crab Fried Rice Cake</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭子蟹
                                <br>
                                辅料：葱、姜、胡椒粉
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．梭子蟹洗净去腮，切成四块，装盘。放生抽、少量盐、黄酒、姜丝入锅大火蒸10分钟。<br>
                                2．将小葱均匀洒在蒸好的蟹上，洒上一些尖椒粉。<br>
                                3．油烧开，用勺子均匀地泼在小葱上，慢慢泼以达到均匀。<br>
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/suozixie6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>油炸梭子蟹</h5>
                            <span class="enlis">Deep fried crab</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：梭子蟹3只、
                                <br>
                                辅料：清酒15毫升、生姜汁15毫升、蒜泥8克、干辣椒1个、酱油23毫升、白砂糖15克、麦芽糖15克、糯米粉1杯
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．梭子蟹清理干净并去盖剪去蟹脚，之后洒上清酒和生姜汁浸10分钟左右清楚腥味，滤干水分后裹上糯米粉<br>
                                2．将空气炸锅调至180℃，预热5分钟<br>
                                3．将梭子蟹放入事先预热好的空气炸锅中，用180℃温度炸10分钟左右<br>
                                4．取出并蘸酱料食用
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/crab/suozixie7.jpg" alt="">
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
