<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">海 带</h3>
			<div class="about-top">
				<h3 class="subheading">Laminaria japonica</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">海带</strong>的蛋白质中氨基酸种类齐全，比例适当，尤其人体必需的八种氨基酸，其含量十分接近理想蛋白质中必需氨基酸含量模式。
					海带除用作菜外，还可加工成各种风味独特的食品。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/plant/haidai.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海带</strong>又名纶布、昆布、江白菜，是多年生大型食用藻类。藻体为长条扁平叶状体，褐绿色，有两条纵沟贯穿于叶片中部，形成中部带，一般长1.5-3m，宽15-25cm。
					<br><br> <strong style="font-size: 18px;">海带</strong>生于海边低潮线下2m深度的岩石上，人工养殖生长在绳索或竹材上。海带成本低廉，营养丰富，生长于水温较低的海中，是一种重要的海生资源。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海带</strong>味咸，性寒，归肝、肾经，其纤维素可以清除附在消化道上的细菌霉菌及废尘颗粒，
					减少痰的堆积，具有消痰软坚、利水消肿之功效。海带还可以辅助治疗乳腺增生。这是由于其中含有大量的碘，大约每100克海带中含有300毫克～700毫克碘。可以促使卵巢滤泡黄体化，
					从而降低体内雌激素水平，使内分泌失调得到调整。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/plant/haidai2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>蒜蓉海带丝</h5>
                            <span class="enlis">Shredded Garlic Kelp</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：海带丝 100克
                                <br>
                                辅料：蒜头 1个、
                                麻油、
                                生抽、
                                蚝油、
                                辣椒酱、
                                醋 少量、
                                糖 少量
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．海带丝放清水中漂洗两遍，去掉杂质及泥沙。<br>
                                2．锅内烧开水，放洗净的海带丝下锅焯煮3分钟。<br>
                                3．烫好的海带捞出，控干水分，放凉备用。<br>
                                4．蒜瓣切成蒜蓉。<br>
                                5. 将凉透的海带丝放入深碗内，依次加入麻油，生抽，蚝油，辣椒酱，醋（少量），糖（少量）。<br>
                                6. 将所有调料拌匀，等5分钟，调料汁儿充分入味后，撒上蒜蓉，即可食用。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/plant/haidai5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>海带汤</h5>
                            <span class="enlis">Seaweed soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：泡水的海带200克
								<br>
								辅料：牛肉100克，酱油2勺，香油、蒜末1勺，胡椒粉，豆油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．牛肉切沫与酱油、香油拌匀
								<br>
								2．在锅中放入豆油，炒牛肉和海带
								<br>
								3．后加入水煮一下，然后放入酱油、蒜沫、胡椒粉即可
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/plant/haidai3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>海带炒肉</h5>
                            <span class="enlis">Kelp Fried Meat</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：40g干海带、30g鲜肉
									<br>
									辅料：适量葱、
                                    适量姜、
                                    适量干辣椒、
                                    1个八角、
                                    适量盐、
                                    少许鸡精、
                                    适量酱油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．干海带用凉水泡发，洗净后切成长条；
									<br>
									2．猪肉切粗丝，葱切葱花，姜切丝，干辣椒切碎；
									<br>
									3．炒锅热油放八角，放肉片煸炒至变色后再加葱花、姜丝、干辣椒；
									<br>
									4．淋入酱油上色；
										<br>
									5. 加切好的海带片，煸炒至熟，放盐、鸡精调味即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/plant/haidai4.jpg" alt="">
                        </p>
                    </div>
                </div>
                


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
