<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">紫 菜</h3>
			<div class="about-top">
				<h3 class="subheading">Porphyra</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">紫菜</strong>含有丰富的蛋白质、碳水化合物、不饱和脂肪酸、维生素和矿物质，具有很高的营养价值。
					紫菜是蛋白质含量最丰富的海藻之一。紫菜中的蛋白质含量随着藻的种类及生长时间、地点等而有所不同，通常蛋白质质量分数占紫菜干质量的25%～50%。
					海藻富含膳食纤维，它们构成了一大类膳食纤维，其中可溶性膳食纤维的比例很高。
					紫菜中Ca、Na、K、Mg及P的含量很高。
					紫菜是天然维生素B12的理想来源。紫菜中维生素含量比较丰富。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/plant/zicai.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">紫菜</strong>是一类生长在潮间带的海藻，是世界上产值最高的栽培海藻。
					<br><br> <strong style="font-size: 18px;">紫菜</strong>属物种虽然在寒带、温带、亚热带和热带海域均有分布，但亚热带至温带海域的物种多样性丰富。其在中国、日本和韩国被大规模栽培。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">紫菜</strong>性味甘咸、寒，入肺经；
                    具有化痰软坚、清热利水、补肾养心的功效；
                    用于甲状腺肿、水肿、慢性支气管炎、咳嗽、瘿瘤、淋病、脚气、高血压等。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/plant/zicai2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>紫菜蛋花汤</h5>
                            <span class="enlis">Egg Seaweed Soup</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：紫菜、鸡蛋、
                                <br>
                                辅料：精盐、味精、葱花、香油、虾米
                                麻油、
                                生抽、
                                蚝油、
                                辣椒酱、
                                醋 少量、
                                糖 少量
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．将紫菜洗净撕碎放入碗中，加入三分之二的虾米。<br>
                                2．在锅中放入适量的水烧开，然后淋入拌匀的鸡蛋液。<br>
                                3．等鸡蛋花浮起时，加盐、味精然后将汤倒入紫菜碗中、淋2 ，3滴香油即可。<br>
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/plant/zicai4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>紫菜包饭</h5>
                            <span class="enlis">Rice with seaweed</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：烤紫菜两张，米饭一碗
								<br>
								辅料：白醋两大匙，盐、糖少许，蟹柳两条，玉米笋两条，胡萝卜、黄瓜一根，肉松，火腿，香肠 鸡蛋两只
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．薄紫菜用微波炉烘半分钟
								<br>
								2．鸡蛋（2个）摊成蛋皮，切长条。具体方法是：蛋打散后，入平底锅中煎成蛋皮后，切成长方型，再切作长条。
								<br>
								3．萝卜、黄瓜各一长条。辅料是肉松、蟹肉柳、火腿、香肠任选一样或几样，你也可以放自己喜欢的其它好吃的。除了肉松，其它能切的要切成条。
								<br>
								4. 把大米在清水中浸泡一两个小时，蒸出的米饭要软硬适中，有条件的还可以准备些煮熟的糯米和小米，三种米掺在一起做会比较正宗。
								<br>
								5. 米饭与水1∶1煮熟后，盛入碗中，搅拌均匀，然后将其放凉。
								<br>
								6. 在干净垫子上平铺一张紫菜，将搅拌好的米饭放在紫菜上抹平。（注意：米饭不要铺的太厚）
								<br>
								7. 将准备好的黄瓜条、胡萝卜条、鸡蛋条、火腿条、菠菜条依次放在饭的上面，然后用力把紫菜卷起来，卷成一个细长的卷。（注意：卷得越紧越好）
								<br>
								8. 所有的卷都卷好以后，把做好的紫菜卷切成小段即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/plant/zicai3.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
