<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">八 爪 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Octopus vulgaris</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">八爪鱼</strong>,又名章鱼，章鱼含有丰富的蛋白质、矿物质等营养元素，并还富含抗疲劳、抗衰老，能延长人类寿命等重要保健因子—天然牛磺酸。 除此之外，章鱼还是一种营养价值非常高的食品，不仅是美味的海鲜菜肴，而且也是民间食疗补养的佳品。 其中，包含营养成分(100克) 热量135.00千卡，蛋白质18.90克，脂肪0.40克，碳水化合物14.00克，硫胺素0.04毫克，核黄素0.06毫克，尼克酸5.40毫克，维生素E1.34毫克，钙21.00毫克，磷63.00毫克，钾447.00毫克，钠65.30毫克，镁50.00毫克，铁0.60毫克，锌0.68毫克，硒27.30微克，铜0.24毫克。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/headFoot/zhangyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">章鱼</strong>并不是鱼类，它属于软体动物。章鱼有八只像带子一样长的脚，弯弯曲曲地漂浮在水中，故又把章鱼称为“八带鱼”。其力大无比、残忍好斗。
					<br><br> <strong style="font-size: 18px;">章鱼</strong>在世界各地的热带和温带海域皆有分布
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">章鱼</strong>性平、味甘咸，入肝、脾、肾经；
                    具有补血益气、治痈疽肿毒的作用。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/headFoot/zhangyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

    

    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>红烧章鱼</h5>
                            <span class="enlis">Braised octopu</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：章鱼  500克
                                <br>
                                辅料：酱油、老酒各2汤匙、红糖 
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．把章鱼洗干净,去掉头里面的杂物 ,把眼睛黑点洗净，去条嘴角 。<br>
                                2．热锅开炒到—分钟左右 ,可以放料 。<br>
                                3．老酒 ,醋 ,碱,美味鲜 ，老抽 ，红糖 ,放入翻炒 ,, 炒匀后盖上锅盖，用小火慢炖 ，到汤汁差不多就放青椒 。<br>
                                4．放青椒大火翻炒几次关火出锅。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/zhangyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱爆八爪鱼</h5>
                            <span class="enlis">Octopus with sauce</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：章鱼300克
								<br>
								辅料：洋葱1个、香菜(梗)50克、色拉油适量、姜适量、豆豉辣酱适量
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．洋葱切丝，香菜梗切段、姜切丝
								<br>
								2．八爪鱼去内脏、嘴和眼睛后洗净，切成大小合适的块
								<br>
								3．锅里加水，加姜片后大火烧开，放入切好的八爪鱼，焯烫10-20秒，八爪鱼捞出沥净水
								<br>
								4．重新起锅，倒油，放姜丝，小火炒香，放入沥净水的八爪鱼，再加入两大勺豆豉辣酱，快速翻炒均匀
								<br>
								5. 放入洋葱丝和香菜梗快速翻炒均匀，不需要额外加盐，盛出即可
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/zhangyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>白灼章鱼</h5>
                            <span class="enlis">Boiled octopus</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：六只章鱼
									<br>
									辅料：芥末，料酒，酱油（按个人喜好放入），姜两片
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．章鱼刹好后用盐抓洗，清水冲洗干净
									<br>
									2．放入开水中灼，大概一分钟即可
									<br>
									3．捞出放入冰水中冰一下
									<br>
									4．装盘，另取一小碗加入芥末和酱油做酱料
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/zhangyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>清蒸章鱼</h5>
                            <span class="enlis">Steamed octopus</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：章鱼250克
									<br>
									辅料：辣椒(红、尖、干)2克 姜20克 大蒜(白皮)10克 白砂糖20克 酱油60克 白醋30克 香油10克	
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．章鱼斜刀刻花,覆上微波薄膜,用强功率煮6分钟
									<br>
									2．辣椒、姜、蒜、砂糖、酱油、白醋、香油拌匀
									<br>
									3．调料汁用鱿鱼蘸着食用即可.
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/zhangyu6.jpg" alt="">
                        </p>
                    </div>
                </div>


            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
