<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.729">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渔子洲头</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/swiper.min.css">
    <link rel="stylesheet" href="../../css/public.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/goods_detail.css">
</head>

<body>
<header class="navbar navbar-expand-sm navbar-light fixed-top cake_navbar">
    <div class="container head_nav">
        <a class="navbar-brand" href="index.html">
            <img src="../../img/index/logo.jpg" alt="Logo" class="logo_img">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">网站首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products.html">产品中心</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div>
    <div class="gd_header">
        <h1>产品详情<img src="../../images/blog/1.png" alt=""></h1>
        <div><a href="../../index.html">首页</a> &nbsp;/&nbsp; 
            <a href="../../about.html">关于我们</a> &nbsp;/&nbsp; 
            <a href="../../products.html">产品列表</a> &nbsp;/&nbsp; 
            <a>产品详情</a>
        </div>
    </div>

    <!-- 详情 -->
    <div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鱿 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Squid</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鱿鱼</strong>，营养价值很高，是名贵的海产品。
					鱿鱼富含钙、磷、铁元素，利于骨骼发育和造血，能有效治疗贫血。
					鱿鱼除富含蛋白质和人体所需的氨基酸外，鱿鱼还含有大量的牛黄酸，可抑制血液中的胆固醇含量，缓解疲劳，恢复视力，改善肝脏功能；
					其营养价值毫不逊色于牛肉和金枪鱼。每百克干鱿鱼含有蛋白质66.7克、脂肪7.4克，并含有大量的碳水化合物和钙、磷、磺等无机盐。
					鲜活鱿鱼中蛋白质含量也高达16%～20%，脂肪含量极低，仅为一般肉类的4%左右，因此热量也远远低于肉类食品。

	            </p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/headFoot/youyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鱿鱼</strong>，也称柔鱼、枪乌贼。体圆锥形，体色苍白，有淡褐色斑，头大，前方生有触足10条，尾端的肉鳍呈三角形，常成群游弋于深约20米的海洋中。
					<br><br> <strong style="font-size: 18px;">鱿鱼</strong>主要分布于热带和温带浅海。主要渔场在中国渤海、福建南部、台湾、广东和广西近海，以及菲律宾、越南和泰国近海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲤鱼</strong>鱿鱼性味酸平，珍美；
                    食则动风与气，能益气壮志，通妇女月经，能入肝补血，入肾可滋水强志。鱿鱼有滋阴养胃、补虚润肤的功能。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/headFoot/youyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


    
    <!-- 常见菜谱 -->
    <div class="container">
        <div class="gd_tit">常 见 菜 谱</div>
        <div class="swiper-container" id="cook_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>铁板鱿鱼</h5>
                            <span class="enlis">Grilled squid</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鱿鱼
                                <br>
                                辅料：洋葱 辣椒面 孜然 芝麻 盐 花椒面
                                <br>
                                <strong style="font-size: 18x;">制作流程</strong><br>
                                1．鱿鱼洗干净，切好，洋葱切丝。<br>
                                2．锅内油烧热，下入鱿鱼煸炒到水分全无，改小火。<br>
                                3．加入辣椒面，孜然，芝麻，盐，花椒面，继续翻炒；<br>
                                4．最后加入少许加了酱油的甜面酱翻匀即可。<br>
                                5. 铁板烧热，刷少量油后，立刻加如少量洋葱，最后放入鱿鱼即可。
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/youyu3.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>葱爆鱿鱼</h5>
                            <span class="enlis">Squid with Scallion</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鱿鱼2条
								<br>
								辅料：香菜数支
                                葱 姜 蒜
                                盐、醋1小匙
                                麻油2小匙
                                高汤2大匙
                                太白粉2小匙
                                酒2大匙
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．鱿鱼身上切纵横刀口，再切片，入滚水中汆烫取出
								<br>
								2．葱、姜切丝，蒜头切片
								<br>
								3．起油锅，略炸鱿鱼后，将油沥乾，油锅中留少许油爆葱、姜、蒜
								<br>
								4．加入香菜，把高汤、盐、酒、太白粉调匀后倒入勾芡，再加入鱿鱼
								<br>
								5. 待汤汁略滚后即可
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/youyu4.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>香辣鱿鱼</h5>
                            <span class="enlis">Spicy Squid</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鲜鱿鱼
									<br>
									辅料：辣酱，孜然（适量），辣椒粉，芝麻（适量）
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．先把鱿鱼的内脏·眼睛·嘴和半透明的骨头清理干净，用清水洗净（还有鱿鱼爪上那些角质的吸盘也得刮掉）。
									<br>
									2．将烤炉或烤箱预热到100度左右，预热需要时间，来给鱿鱼调味。
									<br>
									3．将鱿鱼整个摊开，双面涂抹辣酱之后在单面撒上适量的孜然、芝麻、辣椒粉。
									<br>
									4．用筷子或细竹签穿过鱿鱼竹签排列顺序上下各一根，将鱿鱼支撑起来，如果不撑就会变成鱿鱼卷了。<br>
									5. 预热完毕后上炉烤制
                            </p>
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/youyu5.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>酱香鱿鱼</h5>
                            <span class="enlis">Squid with sauce</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：鱿鱼
									<br>
									辅料：黄瓜
                                    猪瘦肉
                                    海米
                                    油
                                    豆瓣酱
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鱿鱼去内脏清洗干净切鱿鱼圈，留头、尾备用
									<br>
									2．猪瘦肉、黄瓜切小粒。海米入水泡一会
									<br>
									3．切好的鱿鱼入水焯后捞出备用
									<br>
									4．锅内放油烧热，加入猪肉粒翻炒
									<br>
									5． 猪肉翻炒变色后，加入黄瓜粒，豆瓣酱翻炒入味
									<br>
									6. 将焯好的鱿鱼入锅和其他从材料翻炒一会，出锅前加海米即可
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/youyu6.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ss_con">
                        <div class="ss_left">
                            <h5>干锅鱿鱼</h5>
                            <span class="enlis">Griddle Squid</span>
                            <p class="para">
                                <strong style="font-size: 18x;">制作食材</strong><br>
                                主料：干鱿鱼须300克。
									<br>
									辅料：莴笋头300克,植物油50克，精盐3克，味精4克，鸡精2克，蒸鱼豉油8克，生抽5克，料酒15克，胡椒粉5克，整干椒30克，香葱10克，姜15克，红油20克，香油5克，鲜汤100克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将干鱿鱼须用温水泡发，刮去上面的黑膜，清洗干净，沥干水分待用。
									<br>
									2．莴笋头去皮，切成小指大的条；整干椒切丝；姜切丝，香葱切段。
									<br>
									3．锅内放底油，烧热后下姜丝、干椒丝煸香，倒入鱿鱼须，烹入料酒炒干水分，加粗盐、味精、鸡精、蒸鱼豉油、生抽、胡椒粉调好味，倒入鲜汤，稍焖收汁，放入红油、香油，出锅装入垫有莴笋的干锅内，撒上葱段即可。
									
                            </p>    
                        </div>
                        <p>
                            <img src="../../images/detail/headFoot/youyu7.jpg" alt="">
                        </p>
                    </div>
                </div>



            </div>
    
            <div class="swiper-button-prev swiper_btn"></div>
            <div class="swiper-button-next swiper_btn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- 抢购方式 -->
    <div class="buying">
        <div class="container">
            <h1>抢购方式</h1>
            <div class="ewm">
                <div>
                    <h2>1、官方淘宝店铺:</h2>
                    <img src="../../images/contact/dianpu.png" alt="">
                    <div class="gd_btn">
                        <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="gd_btn_a">点击进入网页版店铺</a>
                    </div>
                </div>
                <div>
                    <h2>2、官方微信小程序:</h2>
                    <img src="../../images/contact/wxp2.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!--footer-->
<div class="d_we">
    <div class="container d_we_con">
        <!-- <div class="d_obj">
            <p>产品展示</p>
            <p>水产植物</p>
            <p>鱼贝虾蟹</p>
            <p>海参鲍鱼</p>
        </div>
        <div class="d_obj">
            <p>关于我们</p>
            <p>企业文化</p>
            <p>发展历程</p>
            <p>管理团队</p>
        </div> -->
        <div>
            <p>(+86) 16215067776</p>
            <p>地址：连云港市赣榆区海头镇梁东沙村</p>
            <p style="margin-top: 20px;">网站备案号： 苏ICP备20014160号</p>
        </div>
    </div>
</div>

    <script src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/swiper.min.js"></script>
    <script src="../../js/goods_detail.js"></script>
</body>

</html>

<style>


</style>
